
.gform_wrapper.gform_wrapper {
  
  // Inputs
  .gform_footer input.button,
  .gform_footer input[type=submit] {
    @include button( $button-color );
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="url"],
  input[type="search"],
  textarea {
    padding: .5em .75em;
  }

}
