
.icon-menu {
  @include font-size(30);
}

// Mobile Header
.site-header--mobile {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1em 1em;
  overflow: hidden;
  z-index: 500;
  background: #fff;

  @include breakpoint($bp-med) {
    display: none;
  }

  .admin-bar & {
    top: 2.875em;
  }

  .flexbox & {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($bp-large) {
      display: none;
    }
  }
}

.mobile-header-left {
  float: left;

  .flexbox & {
    flex: 1 0 auto;
  }
}

.mobile-header-right {
  float: right;
}

.menu-button {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  line-height: 1;
  background-color: $link-color;
  transition: background-color 500ms;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $link-color--hover;
  }

  svg {
    display: block;
  }
}


.mobile-navigation--secondary{
  background-color: $pitt-blue;
  a{
    color: $pitt-tan;
    padding: 1.5em 0;
    @include font-size(17);
    border-top: 1px solid rgba(255,255,255,0.21);
    text-transform: uppercase;
    &:hover{
      color: $pitt-white;
    }
  }
}
.mobile-navigation--button{
  justify-content: center;
  padding: 2em 0;
  background: $pitt-tan;
  a{
    color: $pitt-blue;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    &:hover{
      color: $pitt-white;
    }
  }
}
.mobile-navigation--primary{
  background: $pitt-blue;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  li{
      height: 15px;
      border-right: 1px solid white;
      &:last-child{
        border-right: none;
      }
  }
  a{
    font-size: 0.8em;
    color: $pitt-white;
    margin: 0 1em;
    line-height: 7px;
    @include breakpoint($bp-small){
    margin: 0 1.5em;
    }
    @include breakpoint($bp-med){
    @include font-size(17);

    }
    &:hover{
      color: $pitt-tan;
    }
  }
}



.mobile-nav-tray{
  .search-form{
    background: $pitt-blue;
  position: relative;
  label{
  padding: 0em 1.5em 1em 1.5em;
  position: relative;
  }
  input.search-submit{
    position: absolute;
      right: 34px;
      top: 39%;
      transform: translateY(-50%);
      width: 15px;
      height: 22px;
      background-position: 24px;
      background-image: url(../img/pitt-search.png);
      background-repeat: no-repeat;
  }
  input[type=search]{
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    padding: 0.9em .75em;
    width: 100%;
    font-family: $base-font-family;
    }
  }
  .top-bar{
    border-bottom: none;
    background-color: $pitt-blue;
    .nav-list{
      flex-wrap: wrap;
      padding: 1em 3em;
      justify-content: center;
      li{
        background-image: none;
        a{
          text-decoration: none;
          @include font-size(14);
          color: $pitt-white;
          &:hover{
            color: $pitt-tan;
          }
        }
      }
    }
  }
  .social-nav{
    background-color: $pitt-blue;
    text-align: center;
    padding: 1em 0 1.5em 0;
  }
}
