//
//  Sidebar
//-------------------------------------------------------

.sidebar {
  margin-top: 2em;

  @include breakpoint($bp-large) {
    margin-top: 0;
  }
}

.advanced-sidebar {

  @include breakpoint($bp-med) {
    @include visuallyhidden;
  }

  .sidebar {
    margin-top: 0;
    margin-bottom: 2em;
  }
}


.news-search-form{
  width: 100%;
  position: relative;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  input[type=search]{
    border: 2px solid #f0f0f0;
    border-right: 2px solid #f0f0f0;
    background: #f0f0f0;
  }
  input[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    background-position: 14px;
    background-image: url(../img/pitt-search.png);
    height: 37px;
    border-right: 2px solid #f0f0f0;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    border-left: 2px solid #f0f0f0;
    background-repeat: no-repeat;
    &:hover{
      background-position: 14px;
      background-image: url(../img/pitt-search.png);
      background-repeat: no-repeat;
    }
  }

  .search-form label{
    background-color: #f0f0f0;
    position: relative;
  }
}

::placeholder{
  color: $pitt-blue;
  font-size: 17px;
}
.news-select{
  position: relative;
  background-color: #f0f0f0;
  z-index: 2;
  &:after {
    content: url(../svg/icons/pitt-select-arrows.svg);
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 1px;
    text-align: center;
    padding-top: .4em;
    z-index: -1;
  }
  form select, form [type=search] {
    width: 100%;
    font-size: 17px;
    color: $pitt-blue;
    background: transparent;
    padding: .5em .75em;
    border: 2px solid #f0f0f0;
  }
  select{
    appearance: none;
  }
}
