//
//  Header
//-------------------------------------------------------

.site-header {
  text-align: center;
  background: #fff;
  transition: all 250ms;
  z-index: 50;

  @include breakpoint($bp-med) {
    position: static;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    text-align: left;
    z-index: 100;
  }

  .admin-bar & {
    @include breakpoint($bp-med) {
      top: 2em;
    }
  }

  &.minify-header {

    @include breakpoint($bp-med) {
      background-color: $primary-color-opaque;
      box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, .12);
    }
  }

  .wrap {
    position: relative;
  }
}

.site-header-top {
  position: absolute;
  right: 1em;
  top: 0;
}

.site-header-inner {
  display: none;
  @include breakpoint($bp-large){
    display: block;
  }
  @include clearfix;
  padding: 1em 0 0 0;
}

.site-branding {
  a {
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: .75;
    }
  }

  svg,
  img {
    display: block;
    max-width: 324px;
  }
}


// cb navigation styling

.top-bar{
  border-bottom: 1px solid $pitt-border-light;
  @include breakpoint($bp-large){
      padding-bottom: 0.8em;
      display: block;
  }

  img{
    align-self: center;
    margin-right: 1em;
    @include breakpoint($bp-med){
      margin-right: 2em;
    }
    @include breakpoint($bp-xl){
      margin-right: 3em;
    }
  }
}


.main-nav-block{
  padding: 1.5em 0;
  .flexbox &{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    @include breakpoint($bp-large){
      display: flex;
    }
  }
  .header-col-1{
    flex: 1;
  }
}

.secondary-nav-block{
  height: 67px;
  background-color: $pitt-blue;
  display: none;
  @include breakpoint($bp-large){
    display: block;
  }
  .navigation--secondary{
   .flexbox &{
     display: flex;
   }
  }
}




.top-bar, .main-nav-block, .secondary-nav-block{
  .nav-list{
    a{
      font-family: $base-font-family;
      font-weight: 700;
      color: $pitt-gray;
    }
  }
}
.main-nav-block {
  .nav-list{
    a{
      @include font-size(17);
      color: $pitt-blue;
    }
  }
}

.secondary-nav-block {
  .nav-list{
    a{
      @include font-size(16);
      text-transform: uppercase;
      color: $pitt-tan;
      padding: 1.5em 0;
      &:hover{
        color: #9a8b5f;
      }
    }
    .pitt-apply{
      background: $pitt-tan;
      a{
      color: $pitt-blue;
      padding: 1.5em 2.5em;
      }
    }
  }
}

.navigation--main .current-menu-item>a, .navigation--main .current-menu-ancestor>a{
  color: $pitt-tan;
  border-bottom: 1px solid $pitt-tan;
}

.header-col-2{
  .search-form{
  input.search-submit{
    position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 22px;
      background-position: 20px;
      background-image: url(../img/pitt-search.png);
      background-repeat: no-repeat;
  }
  input[type=search]{
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    padding: 0.9em .75em;
    width: 243px;
    font-family: $base-font-family;
    margin-left: 0.6em;
  }
}
}



.sub-menu:after{
  @include breakpoint($bp-large){
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: $pitt-tan;
  height: 5px;
  display: block;
  width: 100px;
  }
}
