//
//  Footer
//-------------------------------------------------------

.site-footer {
  background-color: $pitt-blue;
}


.primary-footer {
  @include clearfix;
  padding: 3em 0;
  h6{
    display: none;
    text-align: center;
    color: $pitt-white;
    font-family: 'RockwellMT';
    @include font-size(22);
    margin-bottom: 4em;
    @include breakpoint($bp-large){
      display: block;
    }
  }
}

.footer-address,
.footer-social {

  a {
  }
}

.footer-address {

}

.footer-social {
  margin-bottom: 3em;
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: center;
  }
  img{
    display: none;
    @include breakpoint($bp-large){
      display: block;
      margin: auto;
    }
  }
}

.site-copyright {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: left;
  }
}

.imagebox {
  text-align: center;

  @include breakpoint($bp-med) {
    display: inline-block;
    vertical-align: top;
  }

  svg {
    margin-bottom: -8px;
  }

  a {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: .75;
    }
  }
}

.primary-footer{
  .wrap{
    .flexbox &{
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-large){
        flex-direction: row;
      }
    }
    .footer-col-1, .footer-col-2, .footer-col-3{
     flex: 1;
     @include breakpoint($bp-large){
     padding: 0em 2em;
      }
    }
    .footer-col-1{
      &:first-of-type{
        padding-left: 0;
      }
    }
    .pitt-line{
      @include breakpoint($bp-large){
      border-right: 1px solid rgba(255,255,255, 0.30);
      }
    }
    .footer-col-4{
      img{
        margin-top: 1em;
      }
    }
    .footer-col-2, .footer-col-3{
      .nav-list{
        flex-direction: column;
        align-items: left;
        li + li{
          margin-left: 0;
        }
        }
      }
      .footer-col-1{
        order: 3;
        @include breakpoint($bp-large){
          order: -1;
          flex: 3;
        }
        h6{
         display: block;
         @include breakpoint($bp-large){
           display: none;
         }
        }
        li{
          a{
          @include font-size(16);
          }
        }
        .pitt-address {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 2em;
    @include breakpoint($bp-large){
      flex-direction: column;
    }
        }
      }
      .nav-list{
        display: none;
        @include breakpoint($bp-large){
          display: block;
        }
        li{
          a{
            color: $pitt-tan;
            @include font-size(18);
          }
        }
        li:first-child a{
          padding-top: 0;
        }
      }
      .footer-col-2{
        flex: 2;
        .nav-list{
          li{
            a{
              font-family: 'RockwellMT';
              &:hover{
                color: #9c8c5e;
              }
            }
          }
        }
        .navigation--main{
          img{
            margin: auto;
            @include breakpoint($bp-large){
              display: none;
            }
          }
        }
          &:after {
              content: "";
              display: block;
              height: 1px;
              background: white;
              position: absolute;
              left: 0;
              right: 0;
              /* bottom: 0; */
              margin-top: 1em;
              @include breakpoint($bp-large){
                display: none;
              }
          }
          &:before {
              content: "";
              display: block;
              height: 1px;
              background: white;
              position: absolute;
              left: 0;
              right: 0;
              /* bottom: 0; */
              margin-top: -1em;
              @include breakpoint($bp-large){
                display: none;
              }
          }
      }
      .footer-col-3{
        .nav-list{
          display: none;
          @include breakpoint($bp-large){
            display: block;
          }
        }
        li{
          a{
            color: $pitt-white;
            @include font-size(17);
            &:hover{
              color: $pitt-tan;
            }
          }
        }
        li:first-child a{
          padding-top: 0;
        }
      }
      .footer-col-4{
        order: -1;
        @include breakpoint($bp-large){
          order: 4;
          margin-left: 1.5em;
        }
        .social-nav{
          margin-bottom: 1em;
        }
      }
    }
  }



.footer-address{
  margin-top: 3em;
  @include breakpoint($bp-large){
    margin-top: 0;
  }
  h6{
    margin-bottom: 1.5em;
  }
  span, p, a{
    color: $pitt-white;
  }
  p{
    margin: 0;
  }
}
.footer-heading{
  margin-bottom: 0;
}
.footer-heading-top{
  margin-bottom: 2em;
  display: none;
  @include breakpoint($bp-large){
    display: block;
  }
}
.footer-fax-tel-email{
  margin-left: 1em;
  @include breakpoint($bp-large){
     margin-top: 1em;
     margin-left: 0;
  }
 p:last-child a{
   color: white;
   &:hover{
     color: $pitt-tan;
   }
 }
}

.footer-col-3{
    .search-form{
    input.search-submit{
      position: absolute;
        right: 3px;
        top: 85%;
        transform: translateY(-50%);
        width: 15px;
        background-position: 14px;
        height: 22px;

        background-image: url(../img/pitt-search.png);
        background-repeat: no-repeat;
    }
    input[type=search]{
      background-color: #F0F0F0;
      border: 1px solid #F0F0F0;
      padding: 0.9em .75em;
      width: 243px;
      font-family: $base-font-family;
      margin-top: 1em;
    }
  }
}

.footer-col-1, .footer-col-2, .footer-col-3{
    line-height: 1.56;
}

.footer-col-3{
    .nav-list{
      li{
          padding-left: 0 !important;
      }
    }
  }


.new-social-icon{
  background: $pitt-tan;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  .social-facebook-svg{
  }
}
