
/**
 * Editor Styles
 */

body#tinymce.wp-editor {
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;
  color: #5e5e5e;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
  margin: 0;
  margin-bottom: .5em;
  color: #424242;
  font-weight: 700;
  line-height: 1.2;
}

body#tinymce.wp-editor h1 {
  font-size: 2.1875em;
}

body#tinymce.wp-editor h2 {
  font-size: 1.6875em;
}

body#tinymce.wp-editor h3 {
  font-size: 1.0625em;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  border: 1px solid red;
}

body#tinymce.wp-editor h4 {
  font-size: 1.5em;
}

body#tinymce.wp-editor h5 {
  font-size: 1.0625em;
}

body#tinymce.wp-editor h6 {
  font-size: 1.5em;
}

body#tinymce.wp-editor a {
  color: #0063af;
  text-decoration: underline;
  transition: color 500ms;
}

body#tinymce.wp-editor a:hover,
body#tinymce.wp-editor a:focus {
  color: #0063af;
}

body#tinymce.wp-editor a.button {
  display: inline-block;
  vertical-align: baseline;
  padding: .92em 1.46em;
  border: 0 none;
  color: #fff;
  font-size: .8125em;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  appearance: none;
  background-color: #0063af;
  cursor: pointer;
  transition: color 500ms, background 500ms;
}

body#tinymce.wp-editor a.button:hover,
body#tinymce.wp-editor a.button:focus {
  color: #fff;
  background-color: #0063af;
  text-decoration: none;
}

body#tinymce.wp-editor hr {
  margin: 2em 0;
  border: 0 none;
  height: 3px;
  background: #5e5e5e;
}
