

h5.news-post-title-cat {
  font-size: 15px;
  color: $pitt-tan;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 1em;
}

.related-post-section{
  margin-top: 45px;
  border-top: 1px solid #D8D8D8;
  margin-bottom: 1em;
  h3.related-post{
    font-size: 32px;
    font-family: RockwellMT;
    color: $pitt-blue;
    margin-top: 45px;
    margin-bottom: 40px;
  }
}

.news-blockquote{
  width: 100%;
  padding-left: 0;
    p{
    font-size: 27px;
    color: $pitt-blue;
    font-weight: 500;
    font-family: $base-font-family;
    }
  @include breakpoint($bp-med){
  max-width: 792px;
  }
}




.post-content-block+.post-content-block {
    margin-top: 1.5em;
}
.mfp-arrow{
  height: 0;
}

.news-back-button{
margin: auto;
text-align: center;
margin-top: 2.6em;
margin-top: 45px;
a{
  text-decoration: none;
  color: $pitt-blue;
  svg{
    margin-bottom: -0.5em;
    margin-right: 1em;
    }
  }
}

.small-wrap{
  @include breakpoint($bp-med){
    max-width: 809px;
    padding: 0 1em;
  }
}

.related-wrap{
  @include breakpoint($bp-med){
    max-width: 51em;
    padding: 0 1em;
    margin-left: -0px;
  }
  @include breakpoint($bp-large){
    max-width: 969px;
    padding: 0 1em;
    margin-left: -45px;
  }
}


.post-content-block--text{
  >  p{
      width: 100%;
    @include breakpoint($bp-med){
      max-width: 700px;
      border: 1px;
      }
    }
  &:first-of-type{
  > p:first-child:first-letter {
    color: $pitt-blue;
    font-weight: 700;
    float: left;
    font-size: 93px;
    text-transform: uppercase;
    line-height: 75px;
    margin-left: -0.053em;
    padding-right: 0.1em;
    }
  }
}

.news-post-subtitle{
  margin: 1.5em 0;
  margin-bottom: 0;
  @include breakpoint($bp-large){
  margin: 1.5em 0;
  margin-bottom: 0;
  }
  h6{
    font-size: 22px;
    font-weight: 700;
    color: $pitt-blue;
    margin: 0;
  }
}

.news-author-date-social{
  margin-bottom: 3.2em;
  position: relative;
  @include breakpoint($bp-med){
    .flexbox &{
      display: flex;
    }
  }
  .sharing{
    .flexbox &{
      display: flex;
      align-items: center;
    }
    @include breakpoint($bp-med){

    }
    h5{
      margin-bottom: 0;
      position: relative;
      margin-right: 2em;
      font-weight: 600;
      &:after{
        content: "";
        position: absolute;
        right: -18px;
        height: 26px;
        background-color: #879CCB;
        width: 1px;
        top: -5px;
      }
    }
  }
  .news-author-date{
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.6em 0;
    @include breakpoint($bp-med){
      &:after{
        content: "";
        display: block;
        position: absolute;
        bottom: -15px;
        width: 33px;
        border-bottom: 3px solid $pitt-tan;
      }
    }
    flex: 1;
    .flexbox &{
      display: flex;
      align-items: center;
    }
    .news-author{
      position: relative;
      margin-right: 2em;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 17px;
      font-weight: 500;
      color: $pitt-blue;
      &:after{
        content: "";
        position: absolute;
        right: -18px;
        height: 26px;
        background-color: #879CCB;
        width: 1px;
      }
    }
    .news-date{
      font-size: 17px;
      font-weight: 500;
      color: $pitt-blue;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.blog .sidebar{
  display: none;
  @include breakpoint($bp-med){
    display: block;
  }
}
.post-template .sidebar{
  display: none;
  @include breakpoint($bp-med){
    display: block;
  }
}
.careers-template-default .sidebar{
  display: none;
  @include breakpoint($bp-med){
    display: block;
  }
}

.news-mobile-masthead{
  display: block;
  @include breakpoint($bp-large){
    display: none;
  }
  .news-mobile-header{
    .flexbox &{
      display: flex;
    }
  }
  .mobile-content{
    .flexbox &{
      display: flex;
      .mobile-close-header-content{
        width: 50%;
        text-align: center;
        background: $pitt-light-blue;
        .flexbox &{
          display: flex;
        }
        .news-mobile-close-button{
          margin: auto;
          a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 800;
            font-family: $base-font-family;
            display: block;
            padding: 1.9em 1em 1.9em;
            .flexbox &{
              display: flex;
              align-items: center;
              justify-content: center;
            }
            svg{
              margin-bottom: -0.4em;
              margin-right: 10px;
            }
          }
        }
      }
      .news-mobile-header{
        flex: 1;
        background: white;
        border-top: 1px solid #EBEBEB;
        padding: 1em;
        @include breakpoint($bp-small){
          padding: 1.5em;
        }
        h2{
          font-size: 22px;
          @include breakpoint($bp-small){
            font-size: 29px;
          }
          color: $pitt-blue;
          font-family:'RockwellMT';
          margin-bottom: 0;
        }
      }
    }
  }

    .categories-widget{
      ul{
        background: $pitt-light-blue;
        margin-top: 0;
        li{
          border-top: 1px solid #54C0E6;
          .flexbox &{
            display: flex;
            align-items: center;
          }
          a{
            text-transform: capitalize;
            font-weight: 800;
            color: white;
            text-decoration: none;
            display: block;
            padding: 23px 17px;
            flex: 1;
          }
        }
      }
    }
}


.mobile-cat-icon {
  color: $pitt-light-blue;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #fff;
  display: flex;
  margin-left: 1.5em;
  align-items: center;
  justify-content: center;
  .icon-events {
    width: 16px;
    height: 18px;
  }
  .icon-programs-events	 {
    width: 16px;
    height: 18px;
  }
  .icon-school-rankings {
    width: 15px;
    height: 16px;
  }
  .icon-student-spotlight {
    width: 16px;
    height: 20px;
  }
  .icon-student-spotlight {
    width: 13px;
    height: 16px;
  }
  .icon-alumni-profile {
    width: 19px;
    height: 15px;
  }
  .icon-faculty-news {
    width: 18px;
    height: 18px;
  }
  .icon-other {
    width: 21px;
    height: 5px;
  }
  .icon-program-news{
  width: 16px;
  height: 13px;
  }
  .icon-career{
    width: 16px;
    height: 14px;
  }
  .icon-employer{
    width: 22px;
    height: 14px;
  }
}
.feature-icon{
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: $pitt-tan;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -13px;
  .icon-events {
    width: 16px;
    height: 18px;
  }
  .icon-programs-events	 {
    width: 16px;
    height: 18px;
  }
  .icon-school-rankings {
    width: 15px;
    height: 16px;
  }
  .icon-student-spotlight {
    width: 16px;
    height: 20px;
  }
  .icon-student-spotlight {
    width: 13px;
    height: 16px;
  }
  .icon-alumni-profile {
    width: 19px;
    height: 15px;
  }
  .icon-faculty-news {
    width: 18px;
    height: 18px;
  }
  .icon-other{
   width: 21px;
   height: 5px;
  }
  .icon-program-news{
    width: 16px;
    height: 13px;
  }
  .icon-career{
    width: 16px;
    height: 14px;
  }
  .icon-employer{
    width: 22px;
    height: 14px;
  }
}
li.is-current-cat .side-bar-nav-cat{
  background: $pitt-tan;
}
.side-bar-nav-cat{
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: $pitt-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -13px;
  margin-right: 1em;
  .icon-events {
    width: 16px;
    height: 18px;
  }
  .icon-programs-events	 {
    width: 16px;
    height: 18px;
  }
  .icon-school-rankings {
    width: 15px;
    height: 16px;
  }
  .icon-student-spotlight {
    width: 16px;
    height: 20px;
  }
  .icon-student-spotlight {
    width: 13px;
    height: 16px;
  }
  .icon-alumni-profile {
    width: 19px;
    height: 15px;
  }
  .icon-faculty-news {
    width: 18px;
    height: 18px;
  }
  .icon-other{
   width: 21px;
   height: 5px;
  }
  .icon-program-news{
  width: 16px;
  height: 13px;
  }
  .icon-career{
    width: 16px;
    height: 14px;
  }
  .icon-employer{
    width: 22px;
    height: 14px;
  }
}

.card-article-icon{
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: $pitt-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -21px;
  position: absolute;
  border: 2px solid white;
  .icon-events {
    width: 16px;
    height: 18px;
  }
  .icon-programs-events{
    width: 16px;
    height: 18px;
  }
  .icon-school-rankings {
    width: 15px;
    height: 16px;
  }
  .icon-student-spotlight {
    width: 16px;
    height: 20px;
  }
  .icon-student-spotlight {
    width: 13px;
    height: 16px;
  }
  .icon-alumni-profile {
    width: 19px;
    height: 15px;
  }
  .icon-faculty-news {
    width: 18px;
    height: 18px;
  }
  .icon-other{
   width: 21px;
   height: 5px;
  }
  .icon-program-news{
    width: 16px;
    height: 13px;
  }
  .icon-career{
    width: 16px;
    height: 14px;
  }
  .icon-employer{
    width: 22px;
    height: 14px;
  }
}

  // #icon-events{
  //   circle{
  //     fill: blue;
  //     stroke: green;
  //   }
  //   path{
  //     fill: red;
  //   }
  // }


.featured-post{
  position: relative;
  img{
  @include block-fit-cover();
  z-index: -1;
  }
  .card-article{
    position: relative;
    height: 220px;
    @include breakpoint($bp-med){
      height: 320px;
      width: 100%;
    }
    @include breakpoint($bp-med--tall){
      height: 600px !important;
    }
    &:hover{
      border: none;
    }
    .card-article-body{
      background-color: rgba(28, 41, 87, .84);
      padding: 2.3em 1.5em 1em;
      left: 0;
      bottom: -195px;
      z-index: 5;
      position: absolute;
      width: 100%;
      min-height: 205px;
      @include breakpoint($bp-large){
        max-width: 50%;
        bottom: 0;
      }
      .feature-wrap {
        max-width: 600px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        h5{
          font-size: 13px;
          color: $pitt-tan;
          margin-bottom: 1.3em;
        }
          text-decoration: none;
          h3{
            font-size: 40px;
            font-family: RockwellMT;
            color: white;
            margin-bottom: 0.2em;
          }
          .readmore-block{
            .flexbox &{
              display: flex;
              align-items: center;
              margin-top: 1em;
              margin-bottom: 1em;
            }
          }
          span{
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 1.2em;
            @include breakpoint($bp-large){
              margin-bottom: 0.3em;
              margin-right: 0.3em;
            }
          }
      }
      .featured-readmore{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 800;
        color: white;
      }
    }
  }
}
.archive-featured-post{
  position: relative;
  img{
  @include block-fit-cover();
  z-index: -1;
  }
  .card-article{
    position: relative;
    height: 220px;
    @include breakpoint($bp-med){
      height: 320px;
      width: 100%;
    }
    @include breakpoint($bp-med--tall){
      height: 600px !important;
    }
    &:hover{
      border: none;
    }
    .card-article-body{
      background-color: rgba(28, 41, 87, .84);
      padding: 2.3em 1.5em 1em;
      left: 0;
      bottom: -195px;
      z-index: 5;
      position: absolute;
      width: 100%;
      min-height: 85px;
      @include breakpoint($bp-large){
        max-width: 50%;
        bottom: 0;
      }
      .feature-wrap {
        width: 600px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        h5{
          font-size: 13px;
          color: $pitt-tan;
          margin-bottom: 1.3em;
        }
        a{
          text-decoration: none;
          h3{
            font-size: 40px;
            font-family: RockwellMT;
            color: white;
            margin-bottom: 0.2em;
          }
          .readmore-block{
            .flexbox &{
              display: flex;
              align-items: center;
            }
          }
          span{
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 1.2em;
            @include breakpoint($bp-large){
              margin-bottom: 0.3em;
              margin-right: 0.3em;
            }
          }
        }
      }
      .featured-readmore{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 800;
        color: white;
      }
    }
  }
}


.cat-nav{
  display: none;
}
.cat-open{
  display: block;
}


.feature-desktop-hide-show{
  .card-article{
    .card-article-body{
      display: none;
      @include breakpoint($bp-large){
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.feature-mobile-hide-show{
  display: block;
  @include breakpoint($bp-large){
    display: none;
  }
  .card-article{
    background-color: $pitt-blue;
    padding: 2.1em 0.4em 1em;
    .card-article-body{
      .feature-wrap {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        .feature-icon{
          top: -44px;
        }
        h5{
          font-size: 13px;
          color: $pitt-tan;
          margin-bottom: 0.9em;
        }
        a{
          text-decoration: none;
          h3{
            font-size: 25px;
            font-family: RockwellMT;
            color: white;
            margin-bottom: 0.2em;
          }
          span{
            color: white;
            text-transform: uppercase;
            font-weight: 800;
            margin-bottom: 1.2em;
          }
          .readmore-block{
            .flexbox &{
              display: flex;
              align-items: center;
              margin-top: 0.6em;
              margin-bottom: 0.5em;
            }
            span{
              margin-bottom: 0.4em;
              margin-right: 0.2em;
              font-size: 14px;
            }
          }
        }
    }
    }
  }
}

.pagination{
  margin: 1.5em 0;
  margin-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1.5em;
  @include breakpoint($bp-large){
  padding-bottom: 0;
  border: none;
  }
 .flexbox &{
   display: flex;
   justify-content: center;
 }
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  .flexbox &{
    display: flex;
    text-align: center;
  }
  li{
    a{
      text-decoration: none;
      color: $pitt-blue;
      .flexbox &{
        display: flex;
        justify-content: center;
      }
    }
  }
  .active{
    a{
      color: $pitt-tan;
      font-weight: 800;
    }
  }
  .next-page{
    position: relative;
    &:after{
      // content: "";
      // position: absolute;
      // right: -52px;
      // height: 42px;
      // width: 42px;
      // background-repeat: no-repeat;
      // background-image: url(../svg/icons/pagination-right-arrow.svg);
      }
    }
    .previous-page{
      position: relative;
      &:before{
      // content: "";
      // position: absolute;
      // height: 42px;
      // width: 42px;
      // left: -37px;
      // background-repeat: no-repeat;
      // background-image: url(../svg/icons/pagination-left-arrow.svg);
      }
    }
  }
}
.pagination{
    li + li{
      margin-top: 0 !important;
    }
    li{
      margin-right: 0.5em;
    }
  }
  .pagination-svg{
    margin-left: 0.6em;
  }
  .pagination-svg-prev{
    margin-right: 0.6em;
  }

.news-mobile-masthead .categories-widget ul{
  margin-bottom: 0;
}
.news-mobile-masthead .categories-widget ul{
  li + li{
    margin-top: 0;
  }
}
.mobile-cat-icon{

}

.news-mobile-masthead .categories-widget ul li.is-current-cat{
  background: $pitt-blue;
  .mobile-cat-icon{
    color: $pitt-blue;
  }
}
.news-mobile-masthead .categories-widget ul li.is-current-cat a{
  &:hover{
    color: white;
  }
}
.news-mobile-masthead .categories-widget ul li.is-current-cat:first-of-type:before{
  content: url(../svg/cat-icons/all-cats-white.svg);
  background-image: no-repeat;
  position: absolute;
  top: 23px;
  left: 25px;
}
.news-mobile-masthead .categories-widget ul li:first-of-type:before {
    content: url(../svg/cat-icons/all-cats-blue.svg);
    background-image: no-repeat;
    position: absolute;
    top: 23px;
    left: 25px;
}
.blog .sidebar .categories-widget ul li.is-current-cat:first-of-type:before{
  content: url(../svg/cat-icons/all-cats-tan.svg);
  background-image: no-repeat;
  position: absolute;
  top: 15px;
  left: 2px;
}
.post-template .sidebar .categories-widget ul li.is-current-cat:first-of-type:before{
  content: url(../svg/cat-icons/all-cats-tan.svg);
  background-image: no-repeat;
  position: absolute;
  top: 15px;
  left: 2px;
}
.careers-template-default .sidebar .categories-widget ul li.is-current-cat:first-of-type:before{
  content: url(../svg/cat-icons/all-cats-tan.svg);
  background-image: no-repeat;
  position: absolute;
  top: 15px;
  left: 2px;
}
.archive .sidebar .categories-widget ul li.is-current-cat:first-of-type:before{
  content: url(../svg/cat-icons/all-cats-tan.svg);
  background-image: no-repeat;
  position: absolute;
  top: 15px;
  left: 2px;
}
.blog .sidebar .categories-widget ul li:first-of-type:before {
    content: url(../svg/cat-icons/all-cats-blue.svg);
    background-image: no-repeat;
    position: absolute;
    top: 15px;
    left: 2px;
}
.post-template .sidebar .categories-widget ul li:first-of-type:before {
    content: url(../svg/cat-icons/all-cats-blue.svg);
    background-image: no-repeat;
    position: absolute;
    top: 15px;
    left: 2px;
}
.careers-template-default .sidebar .categories-widget ul li:first-of-type:before {
    content: url(../svg/cat-icons/all-cats-blue.svg);
    background-image: no-repeat;
    position: absolute;
    top: 15px;
    left: 2px;
}
.archive .sidebar .categories-widget ul li:first-of-type:before {
    content: url(../svg/cat-icons/all-cats-blue.svg);
    background-image: no-repeat;
    position: absolute;
    top: 15px;
    left: 2px;
}
.news-mobile-masthead .categories-widget ul li:first-of-type{
  position: relative;
}
.news-mobile-masthead .categories-widget ul li:first-of-type .mobile-cat-icon{
  display: none;
}
.blog .sidebar .categories-widget ul li:first-of-type .side-bar-nav-cat{
  background: white;
}
.post-template .sidebar .categories-widget ul li:first-of-type .side-bar-nav-cat{
  background: white;
}
.careers-template-default .sidebar .categories-widget ul li:first-of-type .side-bar-nav-cat{
  background: white;
}
.page-template-template-careers-blog .sidebar .categories-widget ul li:first-of-type .side-bar-nav-cat{
  background: white;
}
.archive .sidebar .categories-widget ul li:first-of-type .side-bar-nav-cat{
  background: white;
}
.news-mobile-masthead .categories-widget ul li:first-of-type a{
  margin-left: 3.5em;
}
.news-mobile-masthead .categories-widget ul li a{
  &:hover{
    color: $pitt-blue;
  }
}
.feature-desktop-hide-show .card-article:hover .card-article-body .readmore-block span {
    margin-right: 0.5em;
    transition: 0.1s;
}
.news-mobile-close-button{
 background: $pitt-light-blue;
 width: 73%;
 @include breakpoint($bp-small){
   width: 50%;
 }
 .flexbox &{
   display: flex;
 }
}
.mobile-cat-close{
  width: 20px;
  height: 27px;
  background-image: url('../svg/icons/cat-open-button.svg');
  background-repeat: no-repeat;
  width: 50%;
  margin: auto;
  &:after{
    content: "Categories";
    display: block;
    font-weight: 800;
    font-family: $base-font-family;
    text-transform: uppercase;
    color: white;
    margin-left: 2.2em;
    font-size: 15px;
    @include breakpoint($bp-xsmall){
    font-size: 17px;
    }
  }
}
.mobile-cat-open{
  width: 20px;
  height: 27px;
  background-image: url('../svg/icons/cat-close-button.svg');
  background-repeat: no-repeat;
  width: 50%;
  margin: auto;
  &:after{
    content: "Exit";
    display: block;
    font-weight: 800;
    font-family: $base-font-family;
    text-transform: uppercase;
    color: white;
  }
}

.social-email-svg {
    margin-bottom: 0.1em;
    margin-right: 0.3em;
}

.search-entry-header{
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  .flexbox &{
    display: flex;
  }
  .search-content-header{
    img{
      max-width: 140px;
      margin-right: 1.5em;
    }
  }
}

.search-title{
  font-size: 1.9375em;
  margin-bottom: 1.2em;
  font-family: RockwellMT;
}

svg.social-linkedin-svg {
    margin-left: 0.2em;
    margin-top: 0.1em;
}

.default-banner{
  background-image: url('../img/search-banner.jpg');
}


.pitt-sidebar{
  label{
    background-color: #f0f0f0;
  }
}

.post-header-thumb img {
    width: 100%;
}
.feature-post-bgimage{
  @include block-fit-cover;
}


span.wpp-meta.post-stats {
display: none;
}

.wpp-list li:first-of-type:before{
content: none;
display: none;
}
.wpp-list{
padding-left: 0;
}

.wpp-list li a img{
  max-width: none;
  margin-top: 0.5em;
  margin-right: 0.8em;
}

.wpp-list li {
    align-items: flex-start !important;
}
.popular-post{
  margin-top: 2em;
  h4{
    margin-bottom: 1em !important;
  }
}

.wpp-list li a{
  font-size: 14px;
}
.popular-post-mobile{
  margin-top: 1.5em;
  h3{
    font-size: 32px;
    font-family: RockwellMT;
    color: #1c2957;
    margin-top: 45px;
    margin-bottom: 0;
  }
}

.popular-post-mobile{
  .wpp-list li{
    padding: 2em 0;
    border-bottom: 1px solid #e6e6e6;
    a{
      font-size: 16px;
      font-family: $base-font-family;
      text-decoration: none;
      font-weight: 900;
      color: $pitt-blue;
    }
  }
  @include breakpoint($bp-large){
  display: none;
  }
}
.archive .banner-title{
  span.h1 {
    margin-bottom: 0;
    @include breakpoint($bp-med){
      margin-bottom: 1em;
    }
  }
}

.popular-post-mobile{
  label{
    background: #f0f0f0;
  }
  .news-select{
    margin-bottom: 2em;
  }
  .archive-title{
    margin-bottom: 1.5em;
    text-transform: uppercase;
  }
}

.popular-post-article{
  .archive-title{
    margin-bottom: 1em;
    text-transform: capitalize;
    font-size: 32px;
    font-family: RockwellMT;
  }
}


.search-content-body .cat-links a {
    font-size: 12px;
    font-weight: 800;
}
.search-content-body h1 {
    font-size: 16px;
    font-family: Lato,sans-serif;
    line-height: 1;
    margin-top: 0.3em;
}
