.card-blog{
.card-article{
  border-bottom: 4px solid transparent;
  a{
    text-decoration: none;
  }
  h5.card-article-cat{
    font-size: 12px;
    color: $pitt-tan;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: 800;
  }
  h3.card-article-title{
    font-size: 16px;
    @include breakpoint($bp-med){
      font-size: 17px;
    }
    font-family: $base-font-family;
    @include breakpoint($bp-large){
    font-family: RockwellMT;
    font-size: 18px;
    margin-bottom: 1em;
    line-height: 21px;
    }
  }
  &:hover{
    border-bottom: 4px solid $pitt-blue;
    }
  }
}

.card-article-body{
  position: relative;
  padding-top: 0;
  padding-left: 1em;
  @include breakpoint($bp-large){
    padding: 2em 0.5em 0 0.5em;
  }
}
.card-article-header{
  margin-bottom: 1.5em;
  @include breakpoint($bp-large){
    margin-bottom: 2.5em;
  }
    @include breakpoint($bp-large){
      margin-bottom: 0;
    }
}
.card-article > a {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E6E6E6;
    @include breakpoint($bp-large){
      flex-direction: column;
      border-bottom: 1px solid transparent;
    }
}

//  card

.blog .sidebar{
  h1{
    font-size: 32px;
    font-family: RockwellMT;
    color: $pitt-blue;
    margin-bottom: 1.5em;
  }
  h4{
    font-size: 15px;
    color: $pitt-tan;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-weight: 800;
  }
  svg{
    display: inline-block;
    vertical-align: top;
  }
  li{
    margin: 0;
    border-bottom: 2px solid #e6e6e6;
    &:hover{
      border-bottom: 2px solid $pitt-blue;
    }
    .flexbox &{
      display: flex;
      align-items: center;
    }
    &:first-of-type{
      position: relative;
      &:before{
        content: url(../svg/cat-icons/all-cats.svg);
        background-image: no-repeat;
        position: absolute;
        top: 7px;
      }
    }
    a{
      text-decoration: none;
      color: $pitt-blue;
      font-size: 15px;
      padding: 0.8em 0;
      text-transform: capitalize;
      font-weight: 600;
      .flexbox &{
        display: flex;
        align-items: center;
      }
    }
  }
  .is-current-cat{
    border-bottom: 2px solid $pitt-blue;
  }
}
.post-template .sidebar{
  h1{
    font-size: 32px;
    font-family: RockwellMT;
    color: $pitt-blue;
    margin-bottom: 1.5em;
  }
  h4{
    font-size: 15px;
    color: $pitt-tan;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-weight: 800;
  }
  svg{
    display: inline-block;
    vertical-align: top;
  }
  li{
    margin: 0;
    border-bottom: 2px solid #e6e6e6;
    &:hover{
      border-bottom: 2px solid $pitt-blue;
    }
    .flexbox &{
      display: flex;
      align-items: center;
    }
    &:first-of-type{
      position: relative;
      &:before{
        content: url(../svg/cat-icons/all-cats.svg);
        background-image: no-repeat;
        position: absolute;
        top: 7px;
      }
    }
    a{
      text-decoration: none;
      color: $pitt-blue;
      font-size: 15px;
      padding: 0.8em 0;
      text-transform: capitalize;
      font-weight: 600;
      .flexbox &{
        display: flex;
        align-items: center;
      }
    }
  }
  .is-current-cat{
    border-bottom: 2px solid $pitt-blue;
  }
}
.careers-template-default .sidebar{
  h1{
    font-size: 32px;
    font-family: RockwellMT;
    color: $pitt-blue;
    margin-bottom: 1.5em;
  }
  h4{
    font-size: 15px;
    color: $pitt-tan;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-weight: 800;
  }
  svg{
    display: inline-block;
    vertical-align: top;
  }
  li{
    margin: 0;
    border-bottom: 2px solid #e6e6e6;
    &:hover{
      border-bottom: 2px solid $pitt-blue;
    }
    .flexbox &{
      display: flex;
      align-items: center;
    }
    &:first-of-type{
      position: relative;
      &:before{
        content: url(../svg/cat-icons/all-cats.svg);
        background-image: no-repeat;
        position: absolute;
        top: 15px;
        left: 2px;
      }
    }
    a{
      text-decoration: none;
      color: $pitt-blue;
      font-size: 15px;
      padding: 0.8em 0;
      text-transform: capitalize;
      font-weight: 600;
      .flexbox &{
        display: flex;
        align-items: center;
      }
    }
  }
  .is-current-cat{
    border-bottom: 2px solid $pitt-blue;
  }
}
.page-template-template-careers-blog .sidebar{
  h1{
    font-size: 32px;
    font-family: RockwellMT;
    color: $pitt-blue;
    margin-bottom: 1.5em;
  }
  h4{
    font-size: 15px;
    color: $pitt-tan;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-weight: 800;
  }
  svg{
    display: inline-block;
    vertical-align: top;
  }
  li{
    margin: 0;
    border-bottom: 2px solid #e6e6e6;
    &:hover{
      border-bottom: 2px solid $pitt-blue;
    }
    .flexbox &{
      display: flex;
      align-items: center;
    }
    &:first-of-type{
      position: relative;
      &:before{
        content: url(../svg/cat-icons/all-cats.svg);
        background-image: no-repeat;
        position: absolute;
        top: 15px;
        left: 2px;
      }
    }
    a{
      text-decoration: none;
      color: $pitt-blue;
      font-size: 15px;
      padding: 0.8em 0;
      text-transform: capitalize;
      font-weight: 600;
      .flexbox &{
        display: flex;
        align-items: center;
      }
    }
  }
  .is-current-cat{
    border-bottom: 2px solid $pitt-blue;
  }
}
.archive .sidebar{
  h1{
    font-size: 32px;
    font-family: RockwellMT;
    color: $pitt-blue;
    margin-bottom: 1.5em;
  }
  h4{
    font-size: 15px;
    color: $pitt-tan;
    text-transform: uppercase;
    margin-bottom: 1.2em;
    font-weight: 800;
  }
  svg{
    display: inline-block;
    vertical-align: top;
  }
  li{
    margin: 0;
    border-bottom: 2px solid #e6e6e6;
    &:hover{
      border-bottom: 2px solid $pitt-blue;
    }
    .flexbox &{
      display: flex;
      align-items: center;
    }
    &:first-of-type{
      position: relative;
      &:before{
        content: url(../svg/cat-icons/all-cats.svg);
        background-image: no-repeat;
        position: absolute;
        top: 7px;
      }
    }
    a{
      text-decoration: none;
      color: $pitt-blue;
      font-size: 15px;
      padding: 0.8em 0;
      text-transform: capitalize;
      font-weight: 600;
      .flexbox &{
        display: flex;
        align-items: center;
      }
    }
  }
  .is-current-cat{
    border-bottom: 2px solid $pitt-blue;
  }
}

.news-page{
  padding: 2.5em 0;
  @include breakpoint($bp-large){
    padding: 4em 0;
  }
  .l-sidebar .l-aside{
    display: none;
    @include breakpoint($bp-large){
    display: block;
      width: 22%;
    }
  }
  .l-sidebar .l-main{
    width: 100%;
    @include breakpoint($bp-large){
      width: 72%;
    }
  }
  .entry-header-body{
    h1{
      font-size: 37px;
      font-family: RockwellMT;
      color: $pitt-blue;
      margin-bottom: 0.9em;
    }
  }
}

.post-content-block--slideshow{
  border: 10px solid red;
  height: 500px;
  width: 500px;
}

.card-blog{
  .card-article-icon{
    display: none;
    @include breakpoint($bp-large){
      display: flex;
    }
  }
}


.card-article-header img {
    max-width: 110px;
    @include breakpoint($bp-large){
      max-width: 200px;
    }
    @include breakpoint($bp-large){
      max-width: 100%;
    }
}
