.site-main.homepage {
  .hero {
    @include clearfix;
    padding: 4em 0;
    background: $bkg-white;

    @include breakpoint($bp-med) {
      padding: 6em 0;
    }

    @include breakpoint($bp-large) {
      padding: 11.25em 0;
    }

    h1,
    h6 {
      color: $primary-color;
    }
  }
}

// graphic block

.button-block-media-section-admission-ov {
  margin-bottom: 4em;
    background: $pitt-light-gray;
    @include breakpoint($bp-large) {
      height: 395px;
    }
  .wrap{
    position: relative;
  .button-block-media {
    position: relative;
    transition: 0.5s;
    .flexbox & {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint($bp-large) {
        flex-direction: row;
        justify-content: flex-end;
      }
    }
    .flexible-container {
      padding-bottom: 66.25%;
    }
    .media-block {
      order: 1;
      margin-bottom: 2em;
      position: relative;
      @include breakpoint($bp-large) {
        order: 1;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        top: 17px;
        width: 580px;
        height: 400px;
        transition: 0.2s;
        z-index: 1;
      }
    }
    .button-block-copy {
      width: 80%;
      text-align: center;
      order: 2;
      @include breakpoint($bp-large) {
        width: 40%;
        text-align: left;
        order: 2;
        margin-top: 5em;
      }
      .button-block-header {
        h2 {
          font-family: "RockwellMT";
          @include font-size(32);
          color: $pitt-blue;
          @include breakpoint($bp-large) {
            width: 400px;
          }
        }
      }
      .button-block-body {
        p {
          color: $pitt-black;
          margin-bottom: 2.2em;
          font-size: 1.1em;
        }
        .button{
          margin-bottom: 2em;
        @include pitt-button-1;
        }
      }
    }
  }
}
}

.button-block-media-section-why {
      background: $pitt-light-gray;
  .button-block-media {
    position: relative;
    padding: 2.1em 0;
    .flexbox & {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint($bp-large) {
        padding: 4.3em 0;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
    .flexible-container {
      padding-bottom: 66.25%;
    }
    .media-block {
      order: 2;
      margin-bottom: 2em;
      position: relative;
      @include breakpoint($bp-large) {
        order: 2;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 580px;
        height: 400px;
      }
    }
    .button-block-copy {
      width: 80%;
      text-align: center;
      order: 1;
      @include breakpoint($bp-large) {
        width: 40%;
        text-align: left;
        order: 2;
      }
      .button-block-header {
        h2 {
          font-family: "RockwellMT";
          @include font-size(32);
          color: $pitt-blue;
          line-height: 1;
          @include breakpoint($bp-large) {

          }
        }
      }
      .button-block-body {
        p {
          color: $pitt-black;
          margin-bottom: 2.2em;
          font-size: 1.1em;
        }
        .button{
          margin-bottom: 2em;
      @include pitt-button-1;
        }
      }
    }
  }
}
.button-block-media-section-video-block {
  .button-block-media {
    position: relative;
    padding: 2.1em 0;
    .flexbox & {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint($bp-large) {
        padding: 4.3em 0;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
    .flexible-container {
      padding-bottom: 66.25%;
    }
    .media-block {
      order: 2;
      margin-bottom: 2em;
      position: relative;
      @include breakpoint($bp-large) {
        order: 1;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 580px;
        height: 400px;
      }
    }
    .button-block-copy {
      width: 80%;
      text-align: center;
      order: 1;
      @include breakpoint($bp-large) {
        width: 40%;
        text-align: left;
        order: 2;
      }
      .button-block-header {
        h2 {
          font-family: "RockwellMT";
          @include font-size(32);
          color: $pitt-blue;
          line-height: 1;
          @include breakpoint($bp-large) {

          }
        }
      }
      .button-block-body {
        p {
          color: $pitt-black;
          margin-bottom: 2.2em;
          font-size: 1.1em;
        }
        .button{
          margin-bottom: 2em;
      @include pitt-button-1;
        }
      }
    }
  }
}
.button-block-media-section-about {
    background: $pitt-light-gray;
  .button-block-media {
    position: relative;
    .flexbox & {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint($bp-large) {
        flex-direction: row;
        justify-content: flex-start;
        padding: 4.3em 0;
      }
    }

    .media-block {
      order: 1;
      margin-bottom: 2em;
      transition: 0.2s;
      position: relative;
      @include breakpoint($bp-large) {
        margin-bottom: 0;
        position: absolute;
        right: 0;
        bottom: -14px;
        width: 580px;
        height: 400px;
        margin-bottom: 0em;
      }
    }
    .button-block-copy {
      width: 80%;
      text-align: center;
      order: 2;
      @include breakpoint($bp-large) {
        width: 40%;
        text-align: left;
      }
      .button-block-header {
        h2 {
          font-family: "RockwellMT";
          font-weight: normal;
          font-style: normal;
          @include font-size(32);
          font-weight: 700;
          color: $pitt-blue;
          @include breakpoint($bp-large) {

          }
        }
      }
      .button-block-body {
        p {
          color: $pitt-black;
          margin-bottom: 2.2em;
          font-size: 1.1em;
        }
        .button{
        margin-bottom: 2em;
        @include pitt-button-1;
        }
      }
    }
  }
}
.button-block-media-section-career-conference {
  background: $pitt-light-gray;
  .button-block-media {
    position: relative;
    .flexbox & {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint($bp-large) {
        padding: 4.3em 0;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
    .media-block {
      order: 1;
      margin-bottom: 2em;
      transition: 0.2s;
      position: relative;
      @include breakpoint($bp-large) {
        margin-bottom: 0;
        position: absolute;
        left: 0;
        bottom: -16px;
        width: 580px;
        height: 400px;
      }
    }
    .button-block-copy {
      width: 80%;
      text-align: center;
      order: 2;
      @include breakpoint($bp-large) {
        width: 40%;
        text-align: left;
      }
      .button-block-header {
        h2 {
          @include font-size(32);
          font-family: "RockwellMT";
          color: $pitt-blue;
          line-height: 1;
          @include breakpoint($bp-large) {

          }
        }
      }
      .button-block-body {
        p {
          color: $pitt-black;
          margin-bottom: 2.2em;
          font-size: 1.1em;
        }
        .button{
          margin-bottom: 2em;
      @include pitt-button-1;
        }
      }
    }
  }
}

.graphic-block-section {
  .wrap{
    padding: 0em 1em 0;
    @include breakpoint($bp-med){
    padding: 0em 0 2em;
    }

  h3 {
    @include font-size(36);
    font-weight: 700;
    color: $pitt-blue;
    text-align: center;
    margin-bottom: 1em;
    font-family: "RockwellMT";
  }
  p {
    text-align: center;
    margin: 0 auto 5.1em;
    @include font-size(16);
    color: $pitt-black;
    @include breakpoint($bp-med){
    width: 540px;
    }
  }
  .graphic-block {
    .flexbox & {
      display: flex;
      justify-content: space-between;
      text-align: center;
      flex-direction: column;
      align-items: center;
      @include breakpoint($bp-large) {
        flex-direction: row;
        justify-content: center;
        .graphic-block-content {
          flex: 1;
          position: relative;
          // opacity: 0;
        }
      }
      img {
        margin-bottom: 1.8em;
      }
    }
    .pitt-line-graphic-block {
      border-right: none;
      padding: 1em 2em;
      @include breakpoint($bp-med) {
      }
      &:last-child {
        border-right: none;
        border-bottom: none;
      }
    }
  }
}
}


.stat-bounce{
  &:nth-of-type(1){
  // animation: bounce-up-2 0.2s ease-in 0.2s forwards;
  }
  &:nth-of-type(2){
  // animation: bounce-up-2 0.2s ease-in 0.4s forwards;
  }
  &:nth-of-type(3){
  // animation: bounce-up-2 0.2s ease-in 0.6s forwards;
  }
}

@keyframes bounce-up-2{
  0%{
    transition: .2s;
    transform: translateY(0px);
        opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    transition: .2s;
    transform: translateY(-30px);
    opacity: 1;
  }
}


  .graphic-block-content.pitt-line-graphic-block:after {
    border-right: none;
    @include breakpoint($bp-pitt-large){
      content: "";
      position: absolute;
      right: 0;
      top: 51px;
      bottom: 51px;
      border-right: 1px solid #e8e8e8;
    }
  }

  .pitt-line-graphic-block:last-of-type:after {
    border-right: none !important;
    @include breakpoint($bp-med){
    border-right: 4px solid white;
    }
  }



/*================================
       Graphic Block
================================== */

.why-border {
  display: block;
  height: 1.3em;
}

.why-pitt-column-block {
  padding: 3em 0;
  @include breakpoint($bp-med){
    padding: 5.8em 0 0;
  }
  .wrap {
    .flexbox & {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      @include breakpoint($bp-large) {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
      }
    }
    .why-pitt-col {
      flex: 1;
      margin-bottom: 4em;
      @include breakpoint($bp-large) {
        margin-right: 4.5em;
      }
      h6 {
        margin-bottom: 0.8em;
        color: $pitt-blue;
        margin-top: 0em;
      }
      &:last-of-type {
        margin-right: 0;
      }
      img {
        margin-bottom: 1.5em;
      }
    }
  }
}

.pitt-col-text {
  .flexbox & {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  p{
    margin-bottom: 2em;
  }
  a {
    width: 170px;
    margin: auto;
    @include breakpoint($bp-large) {
      margin: 0;
    }
  }
}

/*================================
       Why-Pitt Blocks
================================== */

.quote-block {
  p {

    @include font-size(18);
      font-family: $base-font-family;
    font-weight: bold;
    margin-bottom: 0.2em;
    text-align: left;
    &:last-of-type {
      font-family: $base-font-family;
      @include font-size(14);
    }
  }
}



/*================================
    Quote - quote block
================================== */

.button-block-media-section-apply {
  background-color: $pitt-blue;
  padding: 2.5em 0;
  .bkg-image-container {
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 0.15em;
    // Height needs to be set manually, or let content fill the space.
    // height: 51em;
  }

  // img el
  .bkg-image {
    display: none;
    position: absolute;
    left: -9999px;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
    width: 100%;
    // min-width controls the point at which the image expands to fit the space.
    min-width: 17.5em;
    z-index: 1;
    opacity: 1;
    @include breakpoint($bp-med) {
      display: block;
    }

    // Enhancement class added via Modernizr
    // Alternatively use `@supports (object-fit: cover) {}`
    .object-fit & {
      object-fit: cover;
      left: 0;
      top: 0;
      right: auto;
      bottom: auto;
      width: 100%;
      height: 100%;
      min-width: 0;
    }
  }

  @include breakpoint($bp-large) {
    padding: 5em 0;
  }
  .wrap {
    h2 {
      font-family: "RockwellMT";
      font-weight: normal;
      font-style: normal;
      color: $pitt-white;
      font-weight: 800;
      text-align: center;
      @include font-size(32);
      margin-bottom: 1.5em;
      @include breakpoint($bp-med) {
        text-align: center;
      }
    }
    .flexbox & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
    .apply-pitt-block {
      width: 100%;
      .flexbox & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @include breakpoint($bp-med) {
          flex-direction: row;
        }
      }
      .apply-pitt-col {
        height: 70px;
        width: 70%;
        position: relative;
        transition: .2s;
        cursor: pointer;
        margin-bottom: 1em;
         transition: .3s;
        &:hover{
          box-shadow: 0 0px 100px rgba(0,0,0,0.3);
        }
        @include breakpoint($bp-med) {
          height: 204px;
          margin-right: 1.5em;
        }
        @include breakpoint($bp-large) {
          height: 304px;
          margin-right: 1.5em;
        }
        &:nth-of-type(1) {
          transition: .2s;
          background-color: $pitt-light-blue;
          @include breakpoint($bp-med) {
            border-bottom: 5px solid $pitt-light-blue;
            background-color: rgba(28, 41, 87, 0.69);
            &:hover{
                transition: .2s;
                background-color: rgba(44, 65, 137, 1);
                transform: scale(1.1);
                transform: translate(0, -5px);
            }
          }
        }
        &:nth-of-type(2) {
          transition: .2s;
          background-color: $pitt-green;
          @include breakpoint($bp-med) {
            border-bottom: 5px solid $pitt-green;
            background-color: rgba(28, 41, 87, 0.69);
            &:hover{
                transition: .2s;
                    background-color: rgba(44, 65, 137, 1);
                transform: scale(1.1);
                transform: translate(0, -5px);
            }
          }
        }
        &:nth-of-type(3) {
          transition: .2s;
          background-color: $pitt-yellow;
          @include breakpoint($bp-med) {
            border-bottom: 5px solid $pitt-yellow;
            background-color: rgba(28, 41, 87, 0.69);
            &:hover{
                transition: .2s;
                background-color: rgba(44, 65, 137, 1);
                transform: scale(1.1);
                transform: translate(0, -5px);
            }
          }
          margin-right: 0;
        }
      }
      .bkg-image {

      }
      a {
        text-decoration: none;
        z-index: 5;
        text-align: center;
        left: 0;
        right: 0;
      }
      h6 {
        position: absolute;
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0;
        text-decoration: none;
        color: $pitt-white;
        font-family: "RockwellMT";
        @include font-size(27);
        font-weight: 800;
        margin-bottom: 0;
        padding: 0.7em 0;
        transition: .2s;
        z-index: 10;
        @include breakpoint($bp-med) {
          padding: 0.9em 0;
          background-color: rgba(28, 41, 87, 0.69);
        }
      }
    }
  }
}

.apply-pitt-col{
  transition: .2s;
    &:nth-of-type(1){
    &:hover{
      a{
        h6{
            transition: .2s;
            background-color: rgba(0, 173, 217, 1);
          }
        }
      }
    }
    &:nth-of-type(2){
    &:hover{
      a{
        h6{
            transition: .2s;
            background-color: rgba(148, 215, 10, 1);
          }
        }
      }
    }
    &:nth-of-type(3){
    &:hover{
      a{
        h6{
            transition: .2s;
            background-color: rgba(254, 197, 36, 1);
          }
        }
      }
    }
  }

.apply-pitt-col{
  &:hover{
    a{
      h6{
        &:nth-of-type(2){
          transition: .2s;
          background-color: rgba(148, 215, 10, 1);
        }
      }
    }
  }
}



.button-block-media-section-admission {
      padding: 2em 0;
  .bkg-image-container {
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 0.15em;
    // Height needs to be set manually, or let content fill the space.
    // height: 51em;
  }

  // img el
  .bkg-image {
    display: block;
    position: absolute;
    left: -9999px;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
    width: 100%;
    // min-width controls the point at which the image expands to fit the space.
    min-width: 17.5em;
    z-index: 1;
    opacity: 0.25;

    // Enhancement class added via Modernizr
    // Alternatively use `@supports (object-fit: cover) {}`
    .object-fit & {
      object-fit: cover;
      left: 0;
      top: 0;
      right: auto;
      bottom: auto;
      width: 100%;
      height: 100%;
      min-width: 0;
    }
  }

  .wrap {
    .flexbox & {
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-large) {
        flex-direction: row;
        align-items: center;
      }
    }
    .admission_requirements_heading_block {
      flex: 1;
      display: flex;
      h2 {
        margin: auto;
        font-family: "RockwellMT";
        font-weight: normal;
        font-style: normal;
        @include font-size(36);
        color: $pitt-blue;
        font-weight: 800;
        margin-bottom: 1em;
        text-align: center;
            width: 600px;
        @include breakpoint($bp-large) {
          text-align: left;
        }
      }
    }
    .admission_requirements_button_block {
      width: 100%;
      flex-wrap: wrap;
      @include breakpoint($bp-large) {
        width: 50%;
      }
      .flexbox & {
        display: flex;
        justify-content: center;
        margin: auto;
      }
      .admission_requirements_col {
        position: relative;
        flex-basis: calc(240px - 40px);
        transition: .2s;
        @include breakpoint($bp-med){
          flex-basis: calc(204px - 40px);
        }
        @include breakpoint($bp-large) {
          flex-basis: calc(50% - 40px);
        }
        a {
          display: block;
          position: relative;
          z-index: 10;
          padding: 2.6em 0;
          text-align: center;
          text-decoration: none;
          margin: auto;
          min-height: 140px;
          .flexbox &{
            display: flex;
          }
          @include breakpoint($bp-large) {
            padding: 3.2em;
          }
        }
        h6 {
          @include font-size(23);
          color: $pitt-white;
          font-weight: 800;
          margin-bottom: 0;
          font-family: "RockwellMT";
          line-height: 1;
          margin-top: 0;
          margin: auto;
          @include breakpoint($bp-med){
            @include font-size(27);
          }

        }
      }
    }
  }
}

.admission_requirements_col{
  @include breakpoint($bp-large){
    &:nth-of-type(1){
      &:hover{
        box-shadow: 0 0 30px rgba(1, 1, 1, 0.2);
        transition: .2s;
        transform: scale(1.1);
        transform-origin: bottom right;
      }
    }
  }
}
.admission_requirements_col{
  @include breakpoint($bp-large){
    &:nth-of-type(2){
      &:hover{
        box-shadow: 0 0 30px rgba(1, 1, 1, 0.2);
        transition: .2s;
        transform: scale(1.1);
        transform-origin: bottom left;
      }
    }
  }
}
.admission_requirements_col{
  @include breakpoint($bp-large){
    &:nth-of-type(3){
      &:hover{
        box-shadow: 0 0 30px rgba(1, 1, 1, 0.2);
        transform: scale(1.1);
        transform-origin: top right;
      }
    }
  }
}
.admission_requirements_col{
  @include breakpoint($bp-large){
    &:nth-of-type(4){
      &:hover{
        box-shadow: 0 0 30px rgba(1, 1, 1, 0.2);
        transform: scale(1.1);
        transform-origin: top left;
      }
    }
  }
}

.button-block-media-section-five {
  .wrap {
    padding: 3em 0 4em 0;
    text-align: center;
    @include breakpoint($bp-large) {
      padding: 6.5em 0 4em 0;
    }
    .insta-heading-body {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2em;
      font-family: "RockwellMT";
      flex-direction: column;
      @include breakpoint($bp-large){
        flex-direction: row;
        width: 600px;
      }
      h2 {
        margin-bottom: 0;
        width: 300px;
        font-weight: 800;
        margin-top: 1em;
        @include font-size(28);
        color: $pitt-blue;
        @include breakpoint($bp-large){
          margin-top: 0;
          text-align: left;
          margin-left: 1em;
        }
      }
    }
  }
}

/* home page */

.block-border.dark-blue {
  position: relative;

  &:before {
    @include ghost;
    border: 1px solid $pitt-white;
    left: 0;
    top: 0;
    width: 1px;
    height: 90%;
  }
}

.block-border.dark-blue,
.block-border.light-blue {
  position: relative;

  &:before {
    @include ghost;
    border: 1px solid $pitt-yellow;
    left: 0;
    top: 0;
    width: 1px;
    height: 90%;
  }
}

.block-border.green,
.block-border.yellow {
  position: relative;

  &:before {
    @include ghost;
    border: 1px solid $pitt-light-blue;
    left: 0;
    top: 0;
    width: 1px;
    height: 90%;
  }
}

.block-border.white,
.block-border.light-gray {
  position: relative;
  &:before {
    @include ghost;
    border: 1px solid $pitt-blue;
    left: 0;
    top: 0;
    width: 1px;
    height: 90%;
  }
}

/* borders for blocks */

.box {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin: 1em auto;
}

/* contact template-parts */

section.contact-section:nth-child(odd) {
  background-color: #f7f7f7;
}

.contact-associate-dean-block-photos,
.contact-academic-advising-block-photos,
.contact-study-abroad-block-photos,
.contact-career-development-block-photos,
.contact-admissions-block-photos,
.contact-student-records-block-photos {
  .wrap {
    h3 {
      @include font-size(19);
      font-weight: 700;
      color: $pitt-blue;
      @include breakpoint($bp-large) {
      }
    }
    h2 {
      margin-bottom: 2.5em;
    }
    > p {
      margin-bottom: 2em;
      @include breakpoint($bp-large) {
        padding: 0em 0.7em;
      }
      @include font-size(22);
      font-weight: 700;
      color: $pitt-blue;
    }
    p {
      margin: 0.2em;
      &:first-of-type {
        font-style: italic;
        font-weight: 900;
        color: $pitt-black;
      }
    }
  }

  .contact-content {
    .flexbox & {
      display: flex;
      .contact-image {
        img {
          display: block;
          max-width: none;
          margin-right: 1em;
        }
      }
    }
    &:hover h3{
      transition: 0.3s;
      margin-left: 5px;
      color: $pitt-green;
    }
    h3{
      transition: 0.3s;
    }
  }
}





section.contact-associate-dean-block-photos {
  &:nth-of-type(2) {
    img {
      border-bottom: 7px solid $pitt-light-blue;
    }
  }
  &:nth-of-type(3) {
    img {
      border-bottom: 7px solid $pitt-green;
    }
  }
  &:nth-of-type(4) {
    img {
      border-bottom: 7px solid $pitt-yellow;
    }
  }
  &:nth-of-type(5) {
    img {
      border-bottom: 7px solid $pitt-green;
    }
  }
  &:nth-of-type(6) {
    img {
      border-bottom: 7px solid $pitt-tan;
    }
  }
  &:nth-of-type(7) {
    img {
      border-bottom: 7px solid $pitt-yellow;
    }
  }
}

.contact-main {
  h3 {
    @include font-size(31);
    font-family: "RockwellMT";
    font-weight: 700;
    color: $pitt-blue;
  }
  .office-box-1,
  .office-box-2 {
    .flexbox & {
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-med) {
        flex-direction: row;
      }
      ul {
        list-style: none;
        margin: 2em 0em 2em 0;
        padding: 0;
        .office-title {
          @include font-size(19);
          font-weight: 700;
          color: $pitt-blue;
        }
        li {
          font-weight: 300;
          margin-bottom: 0.2em;
        }
        p {
          @include font-size(16);
          margin-bottom: 0;
        }
      }
      .w-bullets {
        li {
          @include font-size(16);
          position: relative;
          margin-left: 1em;
          &:before {
            position: absolute;
            left: -1em;
            top: 0.625em;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $pitt-black;
            content: "";
          }
        }
      }
    }
  }
}

.contact-offices {
  li {
    @include font-size(16);
  }
}
.office-box-1 {
  ul {
    margin-top: 0 !important;
    &:first-of-type {
      @include breakpoint($bp-xsmall) {
        margin-right: 5em !important;
      }

      @include breakpoint($bp-large) {
        margin-right: 13em !important;
      }
    }
  }
}
.office-box-2 {
  border-top: 1px solid #e1e1e1;
  ul {
    &:first-of-type {
      margin-right: 3em !important;
      @include breakpoint($bp-large) {
        margin-right: 9em !important;
      }
    }
  }
}

.no-underline {
  text-decoration: none !important;
}

/*================================
     Contact Page
  ================================== */

.admission-ov {
  a {
    text-decoration: none;
  }
  .admission-ov-intro {
      margin-bottom: 4em;
      text-align: center;
    @include breakpoint($bp-large){
      width: 700px;
      margin:0 auto 4em;
    }
    h2 {
      @include font-size(32);
      margin-top: 0;
      font-family: 'RockwellMT';
    }
  }
  .card__header {
    img {
      width: 100%;
      display: block;
      height: auto;
      margin: 0;
    }
  }
  .card__body {
    margin-top: -1em;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 8px solid $pitt-blue;
    padding: 1.5em 1em 1em;
    min-height: 225px;
    .flexbox &{
      display: flex;
    }
    @include breakpoint($bp-med){
    min-height: 245px;
    }
    h2 {
      @include font-size(20);
      font-weight: bold;
      letter-spacing: 0;
      margin-top: 0.5em;
  }
    p {
      @include font-size(16);
      color: $pitt-black;
      display: block;
    }
    .learn-more-button {
      display: block;
      background-image: url("../img/learn-more-button.png");
      background-repeat: no-repeat;
      background-position: right;
      @include font-size(15);
      text-transform: uppercase;
      color: $pitt-blue;
      font-weight: bold;
      width: 112px;
    }
  }
}

.card_content{
  margin: auto;
}
/*================================
      Admission Overview Cards
  ================================== */



    .sb_instagram_header{
      display: none !important;
    }

    #sbi_load{
      display: none;
    }


    /*================================
          instagram
    ================================== */

.admission-ov{
       .l-grid-item{
         transition: 0.2s;
       &:hover{
         transition: 0.2s;
         transform: translate(0, 5px);
         &:hover .learn-more-button{
          color: $pitt-light-blue;
          background-image: url('../img/blue-triangle.png');
          background-position: right;
          background-repeat: no-repeat;
         }
         &:hover .card__body{
           transition: border 0.2s;
           border-bottom: 8px solid $pitt-green;
         }
       }
     }
   }

     /*================================
           overview page
     ================================== */


.button-block-copy-why, .button-block-copy-career, .button-block-copy-about, .apply-pitt-block-header, .admission_requirements_heading_block,
.button-block-media-section-career-conference, .circle-container, .why-pitt-banner-title{
 h2, p, a{
   // opacity: 0;
 }
}


.slide-up{
  // animation: slideUp 0.3s ease-in-out 0.6s forwards;
}

@keyframes slideUp{
  0%{
     transform: translate(0, 10px);
     opacity: 0;
  }
  100%{
    transform: translate(0, 0);
    opacity: 1;
  }
}




/*================================
      animations
================================== */



.tab-contents .content {
    display: none;
}



/*================================
      contact
================================== */

.contact-section:nth-of-type(2){
  h1{
  margin-bottom: 1em;
  }
}
.contact-section:nth-of-type(3){
  h1{
    display: none;
  }
}
.contact-section:nth-of-type(4){
  h1{
    display: none;
  }
}
.contact-section:nth-of-type(5){
  h1{
    display: none;
  }
}
.contact-section:nth-of-type(6){
  h1{
    display: none;
  }
}
.contact-section:nth-of-type(7){
  h1{
    display: none;
  }
}

.open{
  display: block;
}

.tour-icons{
  padding: 3.2em 0;
  text-align: center;
  .l-grid-item{
    margin-bottom: 1.4em;
    @include breakpoint($bp-large){
    padding: 0 1.3em;
    border-right: 1px solid #E8E8E8;
    &:last-child{
      border-right: none;
    }
  }

  h2{
    margin: 1.5em 0;
    font-size: 1.25em;
    font-weight: 700;
  }
  p{
    margin-bottom: 2em;
  }
  a{
    &:hover{
      background-color: #00add9;
    }
  }
  }
}

.why-quote{
    flex-direction: column;
  @include breakpoint($bp-med){
    padding: 0;
    flex-direction: row;
  }
  .col-one-third{
        padding-left: 2em;
        padding-top: 2em;
        @include breakpoint($bp-small){
          padding-left: 18em;
        }
        @include breakpoint($bp-med){
          padding-left: 0;
          padding-top: 0;
        }
        p{
          font-family: $base-font-color;
        }
  }
}

.tour-icons{
  text-align: center;
  p{
    margin-bottom: 1.9em;
  }
  h2{
    margin: 1em 0;
  }
  .button{
    &:hover{
      background-color: #01add9;
    }
  }
  .l-grid-item{
    @include breakpoint($bp-large){
        padding: 2em 2em 0 2em;
    border-right: 1px solid #e8e8e8;
    }
    &:last-child{
      border-right: none;
    }
  }
}

.home-graphic-block{
  padding-top: 4.4em;
}
.why-graphic-block-cb{
padding-top: 4em;
}

.video-box{
  position: relative;
}



.owl-padding{
  padding-top: 1em !important;
}

.owl-thumbs img {
    cursor: pointer !important;
}

.special-heading{
  h2{
    margin: 1.5em 0 1.5em;
    color: $pitt-blue;
    margin-top: 0 !important;
  }
}
.video-block-layout{
.wrap{
  padding: 0 1em !important;
  .flexbox &{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    align-items: center;
    @include breakpoint($bp-large){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    }
  }
  .video-block-l{
    width: 100%;
    margin-bottom: 2em;
    @include breakpoint($bp-large){
    margin-bottom: 0;
    flex: 1;
    }
  }
  .video-block-callout{
    flex: 1;
  }
  .button-block-copy-why{
    margin-left: 0 !important;
    @include breakpoint($bp-large){
      margin-left: 2.5em !important;
    }
  }
}

}
.tab-content {
  display: none;
  border: 1px solid salmon;
  &.current {
    display: block;
  }
}

.play-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 3;
  @include breakpoint($bp-large){
    opacity: 0.9;
    width: 25%;
  }
}

.video-block-l{
  position: relative;
  .play-button{
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0.9;
    transform: translate(-50%, -50%);
    @include breakpoint($bp-pitt-large){
      top: 50%;
    }
  }
}

.video-block-layout{
  .video-block-callout{
    .flexbox &{
      display: flex;
    }
    .button-block-copy-why{
    padding-top: 1em;
      @include breakpoint($bp-med){
        padding-top: 0;
        margin: auto auto auto 2.5em;
      }

    }
    .button{
      &:hover{
        background-color: $pitt-light-blue;
      }
    }
  }
}
.footer-col-2.pitt-line ul li {
    padding-left: 0 !important;
}


.ov-margin{
  img{
    margin-top: 1.5em;
    @include breakpoint($bp-large){
      margin-top: 0 !important;
    }
  }
}

.ov-margin{
  .media-block{
    margin-top: 1.5em;
    @include breakpoint($bp-large){
      margin-top: 0 !important;
    }
  }
}
.margin-top-none{
 padding-top: 0 !important;
 padding-bottom: 2.3em !important;
}


.overview-temp-video-block{
  .wrap{
    @include breakpoint($bp-large){
      height: 395px;
    }
    .flexbox &{
      display: flex;
    }
    .button-block-media{
      width: 100%;
      .button-block-copy{
        margin-top: 1em !important;
        margin-bottom: 2em;
        @include breakpoint($bp-large){
          margin-bottom: 0;
        }
        .button{
          margin-bottom: 0 !important;
        }
      }
    }
  }
}
.overview-template-graphic-block{
  padding-bottom: 2.2em !important;
  .wrap{
      padding-bottom: 0 !important;
  }
}

.accordion-content > p {
    margin-bottom: 0.5em !important;
    &:last-child{
      margin-bottom:0 !important;
    }
}
button.mfp-close {
    background-color: transparent !important;
}

.eir-staff{
  padding-top: 0 !important;
}
button.accordion:last-of-type.accord-is-open {
    border-bottom: 1px solid #dcdcdc !important;
}
button.accordion:last-of-type {
    border-bottom: 1px solid white;
}
.accordion-content:last-of-type {
    margin-top: 0em!important;
}
h3.gform_title {
    display: none;
}
.wrap-accordions .fullwidth-column {
    padding: 1.2em;
}








.special-video-layout{
.wrap{
  padding: 0 1em !important;
  .flexbox &{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    align-items: center;
    @include breakpoint($bp-large){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    }
  }
  .video-block-l{
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    @include breakpoint($bp-med){
      width: 580px;
      height: 400px;
    }
    @include breakpoint($bp-large){
    margin-bottom: 0;
    flex: none;
    }
  }
  .video-block-callout{
    flex: 1;
  }
  .button-block-copy-why{
    margin-left: 0 !important;
    @include breakpoint($bp-large){
      margin-left: 2.5em !important;
    }
  }
}
}

.special-button-block{
  h2{
    line-height: 1.2 !important;
  }
}
.special-button-block a[href^=tel]:hover, a[href^=tel]:focus, a[href^=mailto]:hover, a[href^=mailto]:focus{
  color: white;
}
.special-button-block a[href^=tel], a[href^=mailto]{
color: white;
}


.special-layout{

}

section.section.video-block-layout.special-video-layout, section.fullwidth-column.advanced-full-width.section{
  padding: 3.6em 0 !important;
}

section.fullwidth-column.advanced-full-width.section.white{
  p:last-of-type{
    margin-bottom: 0 !important;
  }
}

section.fullwidth-column.advanced-full-width.section{
.wrap-accordions .fullwidth-column{
  padding: 0 !important;
  .wrap{
    padding: 0 !important;
    }
  }
}

section.fullwidth-column.advanced-full-width.section.light-gray{
  button{
    background-color: #f7f7f7 !important;
  }
}

.accordion-content a[href^=tel], a[href^=mailto] {
    color: #00add9;
    &:hover{
        color: #00add9;
    }
}
