
.blog-page {
  @extend .section;

  // .entry-content {
  //  @include breakpoint($bp-med) {
  //    @include grid(860,1200);
  //    float: left;
  //  }
  // }

  // .sidebar {
  //  @include breakpoint($bp-med) {
  //    @include grid(260,1200);
  //    float: right;
  //  }
  // }

  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 1px solid darken( #eee, 15% );
    }
  }

  .entry-footer {
    .comments-link,
    .edit-link {
      background: $quaternary-color;
      border: 1px solid darken($primary-color, 5%);
      color: $primary-color;

      a {
        color: $primary-color;
      }
    }
  }

  .nav-links {
    a {
      color: $link-color;
    }
  }
}

h1{
  font-family: $base-font-family;
  a{
    text-decoration: none;
    color: $pitt-blue;
    &:hover{
      text-decoration: none;
      color: #334171;
    }
  }
}

.blog-page .entry-footer .comments-link, .blog-page .entry-footer .edit-link{
  background: none;
  margin-top: 1.5em;
  a{
    color: $pitt-blue;
    text-decoration: none;
  }
}
.entry-meta{
  margin-bottom: 1em !important;
}

.entry-header .entry-meta {
    margin: 1em 0 2em;
    color:  $pitt-tan;
}
.posted-on{
  a{
    text-decoration: none !important;
    &:hover{
      color: $pitt-blue;
    }
  }
}
time.entry-date.published{
  text-decoration: none !important;
  color: $pitt-tan !important;
  transition: .5s;
  &:hover{
    color: $pitt-blue !important;
    transition: .5s;
  }
}
.author{
  a{
    text-decoration: none;
    color: $pitt-tan;
    &:hover{
      color: $pitt-blue;
    }
  }
}
.sidebar-widget{
  ul{
    list-style: none;
    padding-left: 0;
  }
}
.nav-cats{
  li{
    a{
      padding: 0.5em 1em;
      display: block;
      text-decoration: none;
      color: $pitt-blue;
      background-color: #f3f3f3;
      font-family: RockwellMT;
    }
  }
  li + li{
    margin-top: 0 !important;
      border-top: 2px solid #e1e1e1;
  }
}
.nav-tags{
  width: 150px;
  margin-top: 2em;
  li{
    a{
    padding: 0.5em 1em;
    display: block;
    text-decoration: none;
    background-color: #f3f3f3;
    color: $pitt-blue;
    background-color: #f3f3f3;
    font-family: RockwellMT;
    }
  }
  li + li{
    margin-top: 0 !important;
    border-top: 2px solid #e1e1e1;
  }
}

footer.entry-footer{
  .button{
    margin-bottom: 2.5em;
    &:hover{
      background-color: $pitt-light-blue;
    }
  }
}
.cat-links, .tags-links{
  a{
    font-size: 15px;
    color: $pitt-tan;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    text-decoration: none;
    font-weight: 600;
  }
  li + li{
    margin-top: 0 !important;
  }
}


.blog-page{
  .l-main{
    width: 100%;
    @include breakpoint($bp-large){
    width: 70%;
    }
  }
  .l-aside{
    width: 100%;
    @include breakpoint($bp-large){
    width: 28%;
    }
  }
  p{
    margin-bottom: 1.5em;
  }
  h1.page-title{
    &:after{
     content:"";
     border-bottom: 1px solid #c8c8c8;
     display: block;
     margin-top: 1em;
     margin-bottom: 1em;
    }
  }
}
#respond{
  margin-top: 2.5em;
  border-radius: 0 !important;
}
input[type=submit]:hover, input[type=submit]:focus {
    color: #fff;
    background: black;
    &:hover{
      background-color: $pitt-light-blue;
    }
}
.sharing{
  h5{
    margin-bottom: 1em;
  }
}
.post-edit-link, .nav-links, .edit-link{
  display: none !important;
}
p.logged-in-as a {
    color: $pitt-blue !important;
}
span.comments-link {
    display: none !important;
}
#comments input[type=submit]:hover:hover, input[type=submit]:focus:hover {
    background-color: #00add9;
}
.more-link{
  display: none;
}

.text-nav.nav-cats li a {
  text-transform: capitalize;
}
.nav-cats li:hover a {
    background: #1b2a57;
    color: white;
  }
.current-cat a{
  background: #1b2a57 !important;
  color: $pitt-tan !important;
}
