
html {
  box-sizing: border-box;
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: 1.6;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  &.show-nav {
    overflow: hidden;

    @include breakpoint($bp-med) {
      overflow: scroll;
    }
  }
}
