
.button,
input[type="submit"] {
  @include button( $button-color );
}

.text-button {
  @include button-reset;
}

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}
button{
  background-color: white !important;
}
