
/**
 * Block Bkg Colors
 */

.white{
  background: #fff;
}

.light-gray {
  background-color: $pitt-light-gray;
  p{
      color: $pitt-blue;
  }
}

.dark-blue{
  background-color: $pitt-blue;
  @include reverse-block-color;
}
.dark-blue{
  .button{
    background-color: $pitt-yellow;
    &:hover{
      background-color: #daa91d;
    }
  }
}
.light-blue{
  background-color: $pitt-light-blue !important;
  @include reverse-block-color;
}
.green{
  background-color: $pitt-green !important;
  color: $pitt-blue;
}
.yellow{
  background-color: $pitt-yellow !important;
}

.red-demo{
  background-color: red;
}


.line-border-yellow.quote-border{
  @include breakpoint($bp-med){
    margin-left: 2em;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 11px;
      bottom: 22px;
      border-left: 2px solid $pitt-yellow;
      padding-right: 1em;
      @include breakpoint($bp-med){
      left: 22px;
      }
      @include breakpoint($bp-large){
        left: 11px;
      }
    }
  }
}

.line-border-blue.quote-border{
  @include breakpoint($bp-med){
      margin-left: 2em;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 11px;
      bottom: 22px;
      border-left: 2px solid $pitt-light-blue;
      padding-right: 1em;
      @include breakpoint($bp-med){
      left: 22px;
      }
      @include breakpoint($bp-large){
        left: 11px;
      }
    }
  }
}

.line-border-green.quote-border{
  @include breakpoint($bp-med){
      margin-left: 2em;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 11px;
      bottom: 22px;
      border-left: 2px solid $pitt-green;
      padding-right: 1em;
      @include breakpoint($bp-med){
      left: 22px;
      }
      @include breakpoint($bp-large){
        left: 11px;
      }
    }
  }
}
.line-border-dark-blue.quote-border{
  @include breakpoint($bp-med){
    margin-left: 2em;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 11px;
      bottom: 22px;
      border-left: 2px solid $pitt-blue;
      padding-right: 1em;
      @include breakpoint($bp-med){
      left: 22px;
      }
      @include breakpoint($bp-large){
        left: 11px;
      }
    }
  }
}


/* Quote Border */

.l-grid-item:hover{
  &:hover {
    .card-green.card__body{
      border-bottom: 8px solid $pitt-green !important;
    }
  }
}


.l-grid-item:hover{
  &:hover {
    .card-blue.card__body{
      border-bottom: 8px solid $pitt-light-blue !important;
    }
  }
}


.l-grid-item:hover{
  &:hover {
    .card-dark-blue.card__body{
      border-bottom: 8px solid $pitt-blue !important;
    }
  }
}


.l-grid-item:hover{
  &:hover {
    .card-yellow.card__body{
      border-bottom: 8px solid $pitt-yellow !important;
    }
  }
}


/* Card Colors */

.why-blue{
  background-color: $pitt-light-blue;
}

.button.why-blue{
  &:hover{
    background-color: #028eb2;
  }
}
.why-blue.quote-border{
  background-color: $pitt-light-gray;
  &:after{
    border-left: 2px solid $pitt-light-blue;
  }
}

.why-button-block.why-blue{
  h2{
      color: $pitt-white;
  }
}
.why-button-block{
  a{
    &:hover{
      background-color: #19244a;
    }
  }
}
/* Blue */

.why-green{
  background-color: $pitt-green;
}
.why-green.quote-border{
  background-color: $pitt-light-gray;
  &:after{
    border-left: 2px solid $pitt-green;
  }
}
.button.why-green{
  &:hover{
    background-color: #7cb408;
  }
}

.why-button-block.why-green{
  h2{
      color: $pitt-white;
  }
}

/* Green */


.why-yellow{
  background-color: $pitt-yellow;
}

.button.why-yellow{
  &:hover{
    background-color: #dfad20;
  }
}

.why-button-block.why-yellow{
  h2{
      color: $pitt-blue;
  }
}

.why-yellow.quote-border{
  background-color: $pitt-light-gray;
  &:after{
    border-left: 2px solid $pitt-yellow;
  }
}

/* Yellow */


.border-blue{
  border: 3px solid $pitt-light-blue;
}
.border-dark-blue{
  border: 3px solid $pitt-blue;
}
.border-green{
  border: 3px solid $pitt-green;
}
.border-yellow{
  border: 3px solid $pitt-yellow;
}

/* Border Colors */


.card-blue{
  &:hover .card__body{
    transition: border 0.2s;
    border-bottom: 8px solid $pitt-green;
  }
}

.align-headers-l{
  text-align: left;
}
.align-headers-c{
  text-align: center;
}

section.section.video-block-layout.light-blue{
  .button{
    &:hover{
      background-color: $pitt-yellow;
    }
  }
}

.light-blue{
  .button-block-hover{
    > a.button{
      &:hover{
        background-color: $pitt-yellow !important;
      }
    }
  }
}


.sidebar-layout-block.light-gray{
    background-color: $pitt-light-gray;
    padding-left: 2.5em !important;
    padding-right: 2.5em !important;
    p{
      color: $pitt-blue;
    }
  }

  .sidebar-layout-block.light-blue{
      background-color: $pitt-light-blue;
      padding-left: 2.5em !important;
      padding-right: 2.5em !important;
      p{
        color: $pitt-blue;
      }
    }
    .sidebar-layout-block.light-blue:last-child{
        background-color: $pitt-light-blue;
        padding-left: 2.5em !important;
        padding-right: 2.5em !important;
        margin-bottom: 2.5em;
        p{
          color: $pitt-blue;
        }
      }
      .sidebar-layout-block.yellow:last-child{
          background-color: $pitt-yellow;
          padding-left: 2.5em !important;
          padding-right: 2.5em !important;
          margin-bottom: 2.5em;
          p{
            color: $pitt-blue;
          }
        }
    .sidebar-layout-block.green{
        background-color: $pitt-green;
        padding-left: 2.5em !important;
        padding-right: 2.5em !important;
        p{
            color: $pitt-blue;
        }
        .button{
          &:hover{
            background-color: $pitt-blue;
          }
        }
      }
      .sidebar-layout-block.green:last-child{
          background-color: $pitt-green;
          padding-left: 2.5em !important;
          padding-right: 2.5em !important;
              margin-bottom: 2.5em !important;
          p{
              color: $pitt-blue;
          }
          .button{
            &:hover{
              background-color: $pitt-blue;
            }
          }
        }
      .sidebar-layout-block.dark-blue{
          background-color: $pitt-blue;
          padding-left: 2.5em !important;
          padding-right: 2.5em !important;
          p{
              color: $pitt-blue;
          }
        }
        .sidebar-layout-block.dark-blue:last-child{
            background-color: $pitt-blue;
            padding-left: 2.5em !important;
            padding-right: 2.5em !important;
            margin-bottom: 2.5em !important;
            p{
                color: $pitt-blue;
            }
          }

  .sidebar-layout-block.light-gray:last-child{
      background-color: $pitt-light-gray;
      padding-left: 2em !important;
      padding-right: 2em !important;
      margin-bottom: 2.5em !important;
      p{
       color: $pitt-blue;
      }
    }
    section:first-of-type.sidebar-layout-block{
        padding-bottom: 2.5em !important;
        padding-top: 3.6em !important;
    }


.sidebar-layout-block.vert-on{
  .l-columns{
    .flexbox &{
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-med){
        flex-direction: row;
      }
      .l-column-item {

        &:first-child{
        padding: 2em 2em;
        padding-top: 0;
        margin-top: 2em;
          @include breakpoint($bp-med){
            border-right: 1px solid #d5d5d5 !important;
              padding: 0em 2em 0 2em;
          }
          }
        }
      }
    }
  }

.sidebar-layout-block.vert-on{
  .special-heading h2{
  margin-bottom: 2.5em;
  }
}






.why-quote{
.page-content.border-green {
  border: none;
    &:after{
      content: "";
      border-left: 2px solid $pitt-green;
      border-right: 0;
      border-bottom: 0;
      position: absolute;
      left: -27px;
      /* height: 106px; */
      top: 0;
      bottom: 0;
    }
  }
}

.why-quote{
.page-content.border-blue {
  border: none;
    &:after{
      content: "";
      border-left: 2px solid $pitt-light-blue;
      border-right: 0;
      border-bottom: 0;
      position: absolute;
      left: -27px;
      /* height: 106px; */
      top: 0;
      bottom: 0;
    }
  }
}

.why-quote{
.page-content.border-dark-blue {
  border: none;
    &:after{
      content: "";
      border-left: 2px solid $pitt-blue;
      border-right: 0;
      border-bottom: 0;
      position: absolute;
      left: -27px;
      /* height: 106px; */
      top: 0;
      bottom: 0;
    }
  }
}
.why-quote{
.page-content.border-yellow {
  border: none;
    &:after{
      content: "";
      border-left: 2px solid $pitt-yellow;
      border-right: 0;
      border-bottom: 0;
      position: absolute;
      left: -27px;
      /* height: 106px; */
      top: 0;
      bottom: 0;
    }
  }
}







.callout-button-on{
  display: block;
}
.callout-button-off{
  display: none;
}
section.section.why-button-block.footer-button-block.desktop.white.callout-button-off, section.section.why-button-block.footer-button-block.desktop.blue.callout-button-off, section.section.why-button-block.footer-button-block.desktop.light-blue.callout-button-off, section.section.why-button-block.footer-button-block.desktop.light-gray.callout-button-off,
section.section.why-button-block.footer-button-block.desktop.green.callout-button-off,
section.section.why-button-block.footer-button-block.desktop.yellow.callout-button-off{
    display: none;
  @include breakpoint($bp-large){
  display: none;
  }
}
section.section.why-button-block.footer-button-block.desktop.white.callout-button-on,
section.section.why-button-block.footer-button-block.desktop.blue.callout-button-on,
section.section.why-button-block.footer-button-block.desktop.light-blue.callout-button-on,
section.section.why-button-block.footer-button-block.desktop.light-gray.callout-button-on,
section.section.why-button-block.footer-button-block.desktop.green.callout-button-on,
section.section.why-button-block.footer-button-block.desktop.yellow.callout-button-on{
  display: none;
  @include breakpoint($bp-large){
  display: block;
  }
}
.footer-button-block {
  margin-bottom: 0em !important;
  &.mobile {
    @include breakpoint($bp-large) {
      display: none;
    }
  }
  &.desktop {
    display: none;
    @include breakpoint($bp-large) {
      display: block;
      margin-bottom: 0em !important;
    }
  }
}



.why-pitt-banner .wrap .why-pitt-banner-title h2.yellow-ov:before{
  position: absolute;
  content: "";
  display: block;
  top: -22px;
  left: 0;
  height: 6px;
  width: 15%;
  background-color: #fec524;
}
 .why-pitt-banner .wrap .why-pitt-banner-title h2.green-ov:before{
   position: absolute;
   content: "";
   display: block;
   top: -22px;
   left: 0;
   height: 6px;
   width: 15%;
   background-color:#94d60a;
 }
 .why-pitt-banner .wrap .why-pitt-banner-title h2.light-blue-ov:before{
   position: absolute;
   content: "";
   display: block;
   top: -22px;
   left: 0;
   height: 6px;
   width: 15%;
   background-color:#00add9;
 }
 .why-pitt-banner .wrap .why-pitt-banner-title h2.gold-ov:before{
   position: absolute;
   content: "";
   display: block;
   top: -22px;
   left: 0;
   height: 6px;
   width: 15%;
   background-color: #cdb87d;
 }
