
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin: 0;
  margin-bottom: .5em;
  color: $heading-color;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}

h1, .h1 {
  @include font-size(31);
  font-weight: 800;
  color: $pitt-blue;
  font-family: 'RockwellMT';
  @include breakpoint($bp-large) {
    @include font-size(31);
  }
}

h2, .h2 {
  @include font-size(22);
  font-weight: 800;
  color: $pitt-blue;
  @include breakpoint($bp-large) {
    @include font-size(22);
  }
}

h3, .h3 {
  @include font-size(17);
  color: $pitt-blue;
  font-weight: 900;
}

h4, .h4 {
  @include font-size(19);
  color: $pitt-blue;
    font-weight: 800;
}

h5, .h5 {
  @include font-size(17);
  color: $pitt-blue;
    font-weight: 800;
    text-transform: uppercase;
}

h6, .h6 {
  @include font-size(19);
  font-weight: 800;
  color: $pitt-light-blue;
}
