
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="url"],
input[type="search"],
textarea {
  padding: .5em .75em;
  border: 2px solid $button-color;
  background: #fff;
  appearance: none;
  color: $base-font-color;
  transition: border-color 250ms;
  
  &:focus {
    border-color: $button-color--hover;
    outline: 0 none;
  }
}

label {
  display: block;
}
