
ol,
ul {
  margin-bottom: 1em;
}

li {
  margin: 0;

  + li {
    margin-top: .5em;
  }
}

.list-reset {
  @include list-reset();

  li {
    + li {
      margin-top: 0;
    }
  }
}

.nav-list {
  text-align: left;
  @include list-reset();
  .flexbox &{
    display: flex;
    align-items: center;
  }

  li {
    @include nav-item-reset();

    + li {
      margin-left: .75em;
    }
  }
}
