
.banner {
  @include clearfix;
  width: 100%;
  padding: 2em 0;
  background-color: $pitt-blue !important;

  @include breakpoint($bp-small) {
    padding: 0;
  }
}

.banner-title {
  padding: 2em 0;
  @include breakpoint($bp-med){
    padding: 0 !important;
  }

  .h1 {
    @include font-size(25);
    display: block;
    color: #fff;

    @include breakpoint($bp-med) {
      @include font-size(35);
    }
  }
}


.banner{
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;

  .wrap{
    position: relative;
    @include breakpoint($bp-med){
      height: 294px;
    }
    .flexbox &{
      display: flex;
      justify-content: space-between;
      padding: 0;
      flex-direction: column-reverse;
      @include breakpoint($bp-med){
        padding: 0 1em;
      }
    }
    .banner-title{
      font-family: 'RockwellMT';
      padding: 2em 1.5em;
      background-color: $pitt-blue;
      @include breakpoint($bp-small){
        width: 100%;
      }
      @include breakpoint($bp-med){
        width: 380px;
        background-color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      @include breakpoint($bp-large){
        width: 450px;
      }

      h6{
          text-transform: uppercase;
          @include font-size(14);
          color: $pitt-tan;
          font-weight: bold;
          font-family: $base-font-family;
          margin-top: 0;
        }
      h2{
        color: $pitt-white;
        @include font-size(31);
        font-weight: 800;
        margin-bottom: 0;
       }
    }
    .banner-image{
      width: 100%;
      display: block;
      overflow: hidden;
          @include breakpoint($bp-med){
          height: 330px;
          width: 453px;
          position: absolute;
          right: 1em;
          top: 0;
          z-index: 5;
          }
          @include breakpoint($bp-large){
            width: 553px;
          }
      }
      img{
        width: 100%;
        display: block;
        @include breakpoint($bp-med){
        }
      }
    }
  }



/* banner image block and bg image */

.why-pitt-banner{
.wrap{
  height: 22vh;
    position: relative;
  @include breakpoint($bp-large){
    height: 668px;
      position: relative;
  }
    .why-pitt-banner-title{
      display: none;
      width: 80%;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 60%;
      transform: translateY(-50%);
      @include breakpoint($bp-large){
        display: block;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 20px;
        margin: 0;
        transform: translateY(-50%);
      }
      h2{
        @include font-size(48);
        color: $pitt-white;
        position: relative;
        margin-bottom: 0.2em;
        font-family: 'RockwellMT';
        &:before{
          position: absolute;
          content: "";
          display: block;
          top: -22px;
          left: 0;
          height: 6px;
          width: 15%;
          background-color: $pitt-yellow;
        }
      }
      p{
        color: $pitt-white;
        @include font-size(19);
      }
    }
  }
}

.banner{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(28,41,87,0.7);
  }
}

.banner-title{
  z-index: 5 !important;
}
