
/**
 * Mosaic Block
 */

.mosaic-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5em;
  margin-top: -0.5em;

  @include breakpoint($bp-small) {
    margin-left: -1em;
    margin-top: -1em;
  }
}
@supports ( display: grid ) {
  .mosaic-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    margin-left: 0;
    margin-top: 0;

    @include breakpoint($bp-small) {
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      margin-left: 0;
      margin-top: 0;
    }

    @include breakpoint($bp-large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.mosaic-grid--4-col {
}
@supports ( display: grid ) {
  .mosaic-grid--4-col {
    @include breakpoint($bp-large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.mosaic-grid-item {
  padding-left: 0.5em;
  padding-top: 0.5em;
  width: 50%;

  @include breakpoint($bp-small) {
    padding-left: 1em;
    padding-top: 1em;
  }

  @include breakpoint($bp-large) {
    width: 33.33%;
  }

  .mosaic-grid--4-col & {
    @include breakpoint($bp-large) {
      width: 25%;
    }
  }
}
@supports ( display: grid ) {
  .mosaic-grid-item {
    padding-left: 0;
    padding-top: 0;
    width: 100%;

    @include breakpoint($bp-small) {
      padding-left: 0;
      padding-top: 0;
    }

    @include breakpoint($bp-large) {
      width: 100%;
    }

    .mosaic-grid--4-col & {
      @include breakpoint($bp-large) {
        width: 100%;
      }
    }
  }
}

.mosaic-grid-item--1-1 {
}
@supports ( display: grid ) {
  .mosaic-grid-item--1-1 {
    grid-row: span 1;
    grid-column: span 1;
  }
}

.mosaic-grid-item--2-1 {
}
@supports ( display: grid ) {
  .mosaic-grid-item--2-1 {
    grid-row: span 1;
    grid-row: span 2;
  }
}

.mosaic-grid-item--1-2 {
}
@supports ( display: grid ) {
  .mosaic-grid-item--1-2 {
    grid-row: span 1;
    grid-column: span 2;
  }
}


/**
 * Mosaic Tiles
 */

.mosaic-tile {

}

.mosaic-tile--image {
  position: relative;
  width: 100%;
  height: 100%;

  a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 8.3125em;
    z-index: 1;
    transition: opacity 350ms;
    overflow: hidden;

    @include breakpoint($bp-small) {
      min-height: 13.125em;
    }

    &:hover,
    &:focus {
      opacity: .65;
    }
  }

  img {
    @include block-fit-cover( 16.625em );
  }

  .mosaic-tile-pinterest-button {
    position: absolute;
    top: .5em;
    right: .5em;
    padding: 0.375em;
    border-radius: 50%;
    width: auto;
    height: auto;
    min-height: 0;
    color: #fff;
    background-color: $link-color;
    box-shadow: 0px 2px 5px rgba(43, 43, 43, 0.2);
    z-index: 10;
    transition: opacity 350ms;

    &:hover,
    &:focus {
      color: #fff;
      opacity: .65;
    }

    svg {
      display: block;
      width: 1em;
      height: 1em;
    }
  }
}
.mosaic-tile--image--small {
  a {
    min-height: 8.3125em;

    @include breakpoint($bp-small) {
      min-height: 8.3125em;
    }
  }
}


.post-slide{
  border: 2px solid red;
  height: 500px;
  width: 500px;
  display: block;
}
