//
// /**
//  * Hero Carousel
//  */
//
// .hero-carousel {
// }
//
// .owl-theme.owl-theme--hero {
//   .owl-dots {
//     @include breakpoint($bp-med) {
//       bottom: 4em;
//     }
//   }
// }
//
// .hero-slide {
//   position: relative;
//   background-color: $bkg-black;
//   overflow: hidden;
//
//   @include breakpoint($bp-med) {
//     min-height: 46.3125em;
//   }
// }
// @supports ( display: flex ) {
//   .hero-slide {
//     @include breakpoint($bp-med) {
//       display: flex;
//       align-items: center;
//     }
//   }
// }
//
// .wrap.hero-slide-wrap {
//   position: relative;
//   padding: 0;
//   z-index: 10;
//
//   @include breakpoint($bp-med) {
//     padding: 0 1em;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//   }
// }
// @supports ( display: flex ) {
//   .wrap.hero-slide-wrap {
//     @include breakpoint($bp-med) {
//       position: static;
//       transform: none;
//     }
//   }
// }
//
// .hero-slide-bkg {
//
//   @include breakpoint($bp-med) {
//     @include block-fit-cover( 100em );
//   }
// }
//
// .hero-slide-content {
//   position: relative;
//   padding: 4em 2em;
//   text-align: center;
//   background-color: #fff;
//
//   @include breakpoint($bp-large) {
//     max-width: 50%;
//   }
//
//   &::after {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     height: 10px;
//     width: 100%;
//     background: red;
//     background-size: cover;
//     z-index: 1;
//     content: ' ';
//   }
// }
// 
// .hero-slide-title {
//   margin: 0;
//   margin-bottom: .75em;
//   padding-bottom: .75em;
//   position: relative;
//   color: #010101;
//   font-size: 2.25em;
//   font-weight: 400;
//
//   &::after {
//     position: absolute;
//     left: 50%;
//     bottom: 0;
//     width: 24px;
//     height: 2px;
//     background-color: #000;
//     transform: translateX(-50%);
//     content: ' ';
//   }
// }
