//
// .owl-theme {
//
//   .owl-nav {
//     margin: 0;
//
//     &.disabled {
//       display: none;
//     }
//
//     button.owl-next,
//     button.owl-prev {
//       display: none;
//       position: absolute;
//       top: 50%;
//       margin: 0;
//       padding: 1em;
//       border-radius: 0;
//       color: #1a1e28;
//       line-height: 1;
//       background-color: rgba(#fff, 0.69);
//       opacity: .5;
//       transform: translateY(-50%);
//       transition: opacity 500ms;
//
//       @include breakpoint($bp-med) {
//         display: block;
//       }
//
//       &:hover,
//       &:focus {
//         color: #1a1e28;
//         background-color: rgba(#fff, 0.69);
//         opacity: 1;
//       }
//
//       &.disabled {
//         &:hover,
//         &:focus {
//           opacity: .5;
//         }
//       }
//
//       svg {
//         display: block;
//       }
//     }
//
//     button.owl-next {
//       right: 1.5em;
//
//       svg {
//         margin-right: -.15em;
//       }
//     }
//
//     button.owl-prev {
//       left: 1.5em;
//
//       svg {
//         margin-left: -.15em;
//       }
//     }
//   }
//
//   .owl-dots {
//     position: absolute;
//     left: 50%;
//     bottom: 2em;
//     transform: translateX(-50%);
//
//     .owl-dot {
//       span {
//         border: 2px solid #fff;
//         width: 11px;
//         height: 11px;
//         background-color: transparent;
//         transition: background-color 500ms;
//       }
//
//       &.active,
//       &:hover {
//         outline: none;
//
//         span {
//           background-color: #fff;
//         }
//       }
//     }
//   }
// }
//
// /**
//  * No js styling
//  */
//
// .owl-theme.owl-theme {
//   display: block;
//
//   // Display only the fist child before js is init'd
//   > * {
//     display: none;
//
//     &:first-child {
//       display: block;
//     }
//   }
//
//   // Display all children after js is init'd
//   &.owl-loaded {
//     > * {
//       display: block;
//
//       &:first-child {
//         display: block;
//       }
//     }
//
//     .owl-nav.disabled,
//     .owl-dots.disabled {
//       display: none;
//     }
//   }
// }
