
/**
 * Entry Content
 */

.entry-content,
.page-content {

  h1 {}

  ul {
    list-style: none;

    li {
      position: relative;

      + li {
        margin-top: .15em;
      }

      &:before {
        position: absolute;
        left: -1em;
        top: .625em;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $bullet-color;
        content: '';
      }
    }
  }
}


/**
 * Image Alignment
 */

.aligncenter,
.alignright,
.alignleft {
  display: block;
  margin: 1em auto 2em auto;
}

.alignright {
  @include breakpoint($bp-med) {
    float: right;
    margin-top: 0;
    margin-left: 1em;
    max-width: 50%;
    /* msx-width: 50% */
  }
}

.alignleft {
  @include breakpoint($bp-med) {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    max-width: 50%;
  }
}


.page-content h6 {
    margin-bottom: 1em;
    margin-top: 1.4em;
}
.entry-content ul, .page-content ul > .entry-content ul, .page-content ul {
    margin: 0.6em 0;
}


.page-content ul > li > ul {
    margin: 0 !important;
}

.page-content ul > li > ul li:last-child {
    margin-bottom: 0;
}

.page-content a[href^=mailto]{
  color: #00add9;
  &:hover{
  color: #00add9;
  }
}
.footer-fax-tel-email p:last-child a{
  color: white;
}
