
/**
 * Entry Footer
 */

.entry-footer {
  @include clearfix;

  .cat-links,
  .tags-links {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  .comments-link,
  .edit-link {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    float: left;

    a {
      display: block;
      padding: 1.5em 1.25em;
    }
  }
}

.sharing {

  a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;

    + a {
      margin-left: .15em;
    }
  }
}

.nav-links {
  @include clearfix;

  .nav-previous,
  .nav-next {
    width: 50%;
  }

  .nav-previous {
    float: left;
  }

  .nav-next {
    float: right;
  }

  a {
    display: block;
    padding: 2em;
  }
}
