
.l-grid {
  margin-top: -2em;
  margin-left: -2em;
  .flexbox &{
    display: flex;
    flex-wrap: wrap;
  }
}
.l-grid-center{
  .flexbox &{
    justify-content: center;
  }
}
.l-grid-item {
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;
  padding-top: 2em;
  padding-left: 2em;
  width: 100%;
  .flexbox &{
    margin-right: 0;
  }
}

.l-grid--three-col {
  .l-grid-item {

    @include breakpoint($bp-med) {
      width: 50%;
    }

    @include breakpoint($bp-large) {
      width: 33.33%;
    }
  }
}

.l-grid--four-col {
  .l-grid-item {

    @include breakpoint($bp-med) {
      width: 50%;
    }

    @include breakpoint($bp-large) {
      width: 25%;
    }
  }
}
