
.hero {
height: 557px;
position: relative;
overflow: hidden;
@include breakpoint($bp-med){
  height: 657px;
}
@include breakpoint($bp-large){
  height: 668px;
}
  h1 {
    @include font-size(30);
    line-height: 1.2;
    margin-bottom: .25em;

    @include breakpoint($bp-med) {
      @include font-size(35);
    }

    @include breakpoint($bp-large) {
      @include font-size(40);
    }

    @include breakpoint($bp-xl) {
      @include font-size(50);
    }
  }

  h6 {
    @include font-size(15);
    line-height: 130%;
    margin-bottom: 1em;

    @include breakpoint($bp-med) {
      @include font-size(20);
    }

    @include breakpoint($bp-large) {
      @include font-size(25);
    }
  }
}



video.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(../video/poster.jpg) no-repeat;
    background-size: cover;
    max-width: none;
    @include breakpoint($bp-large){
      display: block;
    }
}



.hero{
  &:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.28);
    z-index: -1;
  }
  .wrap{
    height: inherit;
    position: relative;
    .circle-container{
      top: 50%;
      transform: translateY(-50%);
      position: relative;
        width: 600px;
        height: 600px;
        left: 100px;
      @include breakpoint($bp-med){
        left: -375px;
        width: 900px;
        height: 900px;
      }
      h2{
        position: absolute;
        top: 56%;
        left: 55%;
        transform: translate(-50%, -50%);
        z-index: 6;
        color: $pitt-white;
        width: 500px;
        overflow: hidden;
        text-align: center;
        font-family: 'RockwellMT' !important;
        color: $pitt-tan;
        @include breakpoint($bp-large){
        @include font-size(48);
        }
        @include breakpoint($bp-xl){
        @include font-size(48);
        }
        @include breakpoint($bp-mega){
        @include font-size(48);
        }
      }
    }
  }
}


#circles {
width: 1000px;
height: 1000px;
display: inline-block;
position: relative;
margin: auto;
}

#circles div {
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
border-radius: 50%;
border: 4px solid rgba(255, 255, 255, 0.5);
width: 0;
height: 0;
opacity: 0;
animation-name: growCircles;
animation-duration: 11s;
transition-timing-function: ease-out;
animation-iteration-count: infinite;
}

#circles div:nth-child(1) {
animation-delay: 0s;
}

#circles div:nth-child(2) {
animation-delay: 1s;
}

#circles div:nth-child(3) {
animation-delay: 2s;
}

#circles div:nth-child(4) {
animation-delay: 3s;
}

#circles div:nth-child(5) {
animation-delay: 4s;
}
#circles div:nth-child(6) {
animation-delay: 5s;
}




@keyframes growCircles {
0% {
}
20% {
  opacity: 0.5;
}
80% {
  opacity: 0;
  width: 1000px;
  height: 1000px;
}
100% {
  opacity: 0;
}
}

  /*================================
        Text Transition
    ================================== */


.pre-hide {
    opacity: 0
}
.spin:after {
  content: "From the Classroom.";
  color: $pitt-light-blue;
}

.spin-2:after {
  content: "To the City.";
  color: $pitt-green;
}

.spin-3:after {
  content: "To the World.";
  color: $pitt-yellow;

}



.hero{
  display: flex;
  .color-blocks{
  .flexbox &{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include breakpoint($bp-large){
      flex-direction: row;
      height: 8px;
    }
  }
  .color-block-1{
    display: flex;
    flex: 1;
    background-color: $pitt-light-blue;
    position: relative;
    background-image: url('../img/blue-pic.png');
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint($bp-large){
      flex-direction: row;
      background-image: none;
    }
    h3{
      margin: auto;
      @include font-size(27);
      font-family: 'RockwellMT';
      color: $pitt-white;
            font-weight: bold;
      @include breakpoint($bp-large){
        display: none;
      }
    }
  }
}
  .color-block-2{
    display: flex;
    flex: 1;
    background-color: $pitt-green;
    position: relative;
    background-image: url('../img/green-pic.png');
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint($bp-large){
      flex-direction: row;
      background-image: none;
    }
      h3{
        @include font-size(27);
        font-family: 'RockwellMT';
        color: $pitt-white;
        margin: auto;
              font-weight: bold;
        @include breakpoint($bp-large){
          display: none;
        }
  }
}
  .color-block-3{
    display: flex;
    flex: 1;
    background-color: $pitt-yellow;
    position: relative;
    background-image: url('../img/yellow-pic.png');
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint($bp-large){
      flex-direction: row;
      background-image: none;
    }
      h3{
        @include font-size(27);
        font-family: 'RockwellMT';
        color: $pitt-white;
        margin: auto;
        font-weight: bold;
        @include breakpoint($bp-large){
          display: none;
        }
    }
  }
}




.section-color-blocks{
  display: flex;
  height: 8px;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  .color-block-1{
    flex: 1;
    background-color: $pitt-light-blue;
  }
  .color-block-2{
    flex: 1;
      background-color: $pitt-green;
  }
  .color-block-3{
    flex: 1;
      background-color: $pitt-yellow;
  }
}



  /*================================
        color blocks
    ================================== */

.section-sub-banner{
  .banner-title{
    display: none;
    @include breakpoint($bp-large){
      display: block;
    }
  }
}
    .section-sub-banner{
      .flexbox &{
        height: auto;
        background-color: $pitt-blue;
        display: flex;
        @include breakpoint($bp-large){
          display: none;
        }
      .section-sub-banner-content{
        margin: 4.5em auto;
        width: 80%;
          h2{
            position: relative;
            @include font-size(30);
            color: $pitt-white;
            font-family: 'RockwellMT';
            &:after{
              position: absolute;
              content: "";
              display: block;
              top: -22px;
              left: 0;
              height: 6px;
              width: 15%;
              background-color: #fec524;
            }
          }
          p{
            @include font-size(16);
            color: $pitt-white;
          }
        }
      }
    }

    .fadeOut{
      @include fadeOut();
    }


.overview-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/overlay.png');
  background-size: cover;
}

header{
  position: relative;
}
