
/**
 * Template Layout - Cols
 */

.l-columns {
  @include clearfix;
  margin-top: -2em;
  margin-left: -2em;

  + .l-columns {
    padding-top: 2em;
  }

  .l-column-item {
    padding-top: 2em;
    padding-left: 2em;
  }

  .l-column-item {
    @include breakpoint($bp-med) {
      float: left;
    }
  }

  &.l-columns--2 {
    .l-column-item {
      @include breakpoint($bp-med) {
        width: 50%;
      }
    }
  }

  &.l-columns--3 {
    .l-column-item {
      @include breakpoint($bp-med) {
        width: 33.33%;
      }
    }
  }

  &.l-columns--4 {
    .l-column-item {
      @include breakpoint($bp-med) {
        width: 25%;
      }
    }
  }

  &.l-columns--5 {
    .l-column-item {
      @include breakpoint($bp-med) {
        width: 20%;
      }
    }
  }

  &.l-columns--6 {
    .l-column-item {
      @include breakpoint($bp-med) {
        width: 16.66%;
      }
    }
  }
}

/* switch left or right 1/3 columns */

.eir-staff .l-grid-item{
  padding-left: 1em;
}

.eir-staff .text{
      font-size: 85%;
      @include breakpoint($bp-large){
      font-size: 100%;
      }
}

.eir-staff .l-grid{
  margin-top: 1em;
}
