.tab{
  font-weight: 800;
  @include font-size(17);
  border-color: transparent;
  border: 1px solid #DCDCDC;
  padding: 1em 2em;
  cursor: pointer;
  color: $pitt-blue;

}
.tab:focus{
  outline: none;
  background-color: $pitt-blue;
  color: $pitt-white;
}
.tabs{
  display: flex;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #DCDCDC;
}
.content{
  font-size: 20px;
  padding: 5px 20px;
  display: none;
}
.content_two{
  color: #fff;
}
