
button.accordion{
  width: 100%;
  border: none;
  text-align: left;
  padding-top: 1em;
  font-size: 1.2em;
  cursor: pointer;
  border-top: 1px solid #DCDCDC;
  color: $pitt-blue;
  font-weight: 800;
  .flexbox &{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:last-of-type{
    border-bottom: 1px solid #DCDCDC;
  }
}
.accordion span{
  position: relative;
}
.accordion span:after{
  content: "-";
  width: 20px;
  height: 20px;
  top: 24%;
  left: 43%;
  position: absolute;
  color: white;
}
.accordion.accord-is-open span::after{
  content: "+";
  width: 20px;
  height: 20px;
  color: white;
  top: 23%;
  left: 40%;
  position: absolute;;
}
.accordion svg.fart{
  border: none;
   border: 10px solid red;
   fill: red !important;
}
.accordion.accord-is-open svg{
border: none;
}
button{
  outline: none;
}
.accordion-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
  margin-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  &:last-of-type{
    margin-top: 1em !important;
  }
}

button.accordion:last-of-type{
    padding-bottom: 1em;
}

.accordion-content:last-of-type {
    margin-bottom: -0.5em;
}
