
/**
 * Global
 */



.site-main {
  position: relative;
  margin-top: 0;
  overflow: hidden;

  @include breakpoint($bp-med) {
    margin-top: 0px;
  }
}


/**
 * Layout Wraps
 */

.wrap {
  @include clearfix;
  margin: 0 auto;
  padding: $max-width-spacing;
  max-width: $max-width;
}

.wrap--limited {
  max-width: $max-width--small;
}

.wrap--full {
  max-width: none;
}


/**
 * Sidebar Layout
 */

.l-sidebar {
  @include clearfix;
  margin-left: -2em;

  .l-main,
  .l-aside {
    padding-left: 2em;

    @include breakpoint($bp-med) {
      float: left;
    }
  }

  .l-main {
    @include breakpoint($bp-med) {
      width: 70%;
      float: right;
    }
  }

  .l-aside {
    @include breakpoint($bp-med) {
      width: 28%;
    }
  }
}


/**
 * Block Layouts
 */

.section {
  @include clearfix;
  padding: $vertical-padding;

  @include breakpoint($bp-med) {
    padding: $vertical-padding-medium;
  }

  @include breakpoint($bp-large) {
    padding: $vertical-padding-large;
  }
}

.section-header {
  padding-bottom: $padding;
  text-align: center;

  @include breakpoint($bp-med) {
    padding-bottom: $padding-medium;
  }

  @include breakpoint($bp-large) {
    padding-bottom: $padding-large;
  }

  h2 {
    margin: 0;
  }
}

.pitt-advanced-width{
  > .wrap{
    .flexbox &{
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-large){
      flex-direction: row;
      }
      .content-area{
        order: 1;
        width: 100%;
        @include breakpoint($bp-large){
        width: 70%;
        margin-left: 3em;
        }
      }
      .pitt-sidebar{
        order: 2;
        margin-bottom: 1.5em;
        width: 100%;
        @include breakpoint($bp-large){
        order: 0;
        margin-top: 4em;
        flex-direction: row;
        width: 30%;
        }
      }
    }
  }
}

.sidebar-section{
  padding: 2.3em 0 !important;
}
.video-block-layout{
  .wrap{
    padding: 0 !important;
  }
}
.sidebar-pad{
  padding-bottom: 0 !important;
}
/**
 * Block Layouts
 */

.section, .sidebar-layout-block {
  @include clearfix;
  padding: $vertical-padding;

  @include breakpoint($bp-med) {
    padding: $vertical-padding-medium;
  }

  @include breakpoint($bp-large) {
    padding: $vertical-padding-large;
  }

  // Remove vertical padding for same color blocks
  &.white + &.white,
  &.light-gray + &.light-gray,
  &.dark-blue + &.dark-blue,
  &.green + &.yellow {
    padding-top: 0 !important;

    @include breakpoint($bp-med) {
      padding-top: 0 !important;
    }

    @include breakpoint($bp-large) {
      padding-top: 0 !important;
    }
  }
}

.section-header {
    padding-bottom: 0;
  text-align: left;

  @include breakpoint($bp-med) {
      padding-bottom: 0;
  }

  @include breakpoint($bp-large) {
    padding-bottom: 0;
  }

  h2 {
    margin: 0;
  }
}

.sidebar-layout-block{
  padding: 2.5em 0 !important;
  .columns-two-thirds{
  align-items: flex-start !important;
  }
  p{
    margin-bottom: 1em !important;
    &:last-child{
      margin-bottom:0 !important;
    }
  }
}
table{
  margin-bottom: 0em!important;
  margin-top: 2.5em;
}



.logo-block{
  padding: 1em 0 4em 0;
  h2{
    text-align: center;
    @include breakpoint($bp-large){
      text-align: left;
    }
  }
  .logo-item-block{
    .flexbox &{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      img{
        margin: 0.8em;
      }
    }
  }
}

.byline{
  display: none !important;
}
