

.columns-two-thirds {
  @include clearfix;
  margin-left: -2em;
}


.col-two-third {
  position: relative;
  padding-left: 2em;

  @include breakpoint($bp-med) {
    float: left;
    width: 66.666%;
  }

  .columns-two-thirds--left & {
    @include breakpoint($bp-med) {
      float: right;
    }
  }
}

.col-one-third {
  padding-left: 2em;

  @include breakpoint($bp-med) {
    float: right;
    width: 33.333%;
  }

  .columns-two-thirds--right & {
    @include breakpoint($bp-med) {
      float: left;
    }
  }
}

.columns-two-thirds {
  @include clearfix;
  margin-left: -2em;
  .flexbox &{
    display: flex;
    align-items: center;
  }
}


.col-two-third {
  position: relative;
  flex: 2;

  @include breakpoint($bp-med) {
    order: 2;
  }

  .columns-two-thirds--left & {
    @include breakpoint($bp-med) {
      order: 2;
    }
  }
}

.col-one-third {
  padding-left: 2em;
  flex: 1;

  @include breakpoint($bp-med) {
  order: 1;
  }

  .columns-two-thirds--right & {
    @include breakpoint($bp-med) {
      order: 2;
    }
  }
}

.button-block-header{
  padding: 0.5em 1em;
  @include breakpoint($bp-large){
    padding: 0;
  }
}

.why-pitt-photo-block{
    background-color: $pitt-light-gray;
  @include breakpoint($bp-large){
    background-image: url('../img/block-rings.png');
    background-repeat: no-repeat;
    background-position: 92px;
    height: 395px;
  }
  &.bg-switch--left {
    @include breakpoint($bp-med){
      background-position: 400px;
    @include breakpoint($bp-large){
      background-image: url('../img/block-rings.png');
      background-position: 600px;
    }
    @include breakpoint($bp-xl){
            background-image: url('../img/block-rings.png');
      background-position: 900px;
    }
    @include breakpoint($bp-mega){
            background-image: url('../img/block-rings.png');
      background-position: 1100px;
    }
    @include breakpoint($bp-supa){
            background-image: url('../img/block-rings.png');
      background-position: 1300px;
    }
  }
}
  .wrap{
    position: relative;
    padding: 0;
    @include breakpoint($bp-large){
      padding: 0 1em;
      height: 300px;
    }
  }
}


  .why-pitt-photo{
    width: 100%;
    height: auto;
    @include breakpoint($bp-large){
      width: 512px;
      height: 400px;
      position: absolute;
      right: 0;
      bottom: -112px;
      @include breakpoint($bp-xl){
        width: 592px;
      }
    }
  .photo-switch--left &{
    @include breakpoint($bp-large){
      position: absolute;
      left: 0;
    }
  }
}

  .why-pitt-block-content{
    text-align: center;
    font-family: 'RockwellMT';
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    @include breakpoint($bp-large){
      text-align: left;
      float: left;
      width: 530px;
      margin-top: 6em;
    }
  .photo-switch--left &{
    @include breakpoint($bp-large){
        float: right;
        margin-top: 6em;
    }
  }
  h2{
    @include font-size(32);
  }
}

/* allows switch left or right */
