
/**
 * Template Layout - Full Width Col
 */

.fullwidth-column {
  @include clearfix;
  padding: 2em 0;

  @include breakpoint($bp-med) {
    padding: 4em 0;
  }

  @include breakpoint($bp-large) {
    padding: 6em 0;
  }
}

.advanced-full-width {
  .l-aside {
    display: none;

    @include breakpoint($bp-med) {
      display: block;
    }
  }
}