table{
  width: 100%;
  border: 1px solid #DCDCDC;
  margin-bottom: 2.8em;
  th{
    text-align: left;
      background: $pitt-blue;
      color: $pitt-white;
  }
  td{
    height: 75px;
      border: 1px solid #DCDCDC;
  }
}



tr{
  &:nth-child(odd){
    td{
      background: #F7F7F7;
      }
    }
  }
