
.quote-block {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .wrap {
    max-width: 50.6875em;
  }
}

.quote-icon {
  text-align: center;
}

.quote-icon-svg {
  color: $link-color;
}

.quote-block-body {
  margin-top: 1em;

  p {
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.4;
    font-style: normal;
  }
}

.quote-block-citation {
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 1.2;

  &:before {
    content: none;
  }
}

.quote-name {
  display: block;
  font-size: 1.025em !important;
  font-weight: 700;
  font-family: 'RockwellMT';
  color: $pitt-blue;
  margin-bottom: 0;
}

.quote-title {
  display: block;
  margin-top: .5em;
  color: $pitt-blue;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .0625em;
    @include font-size(14);
}

.quote-circle{
  position: relative;
  border-radius: 50%;
  width: 195px;
  height: 195px;
  margin-top: 1.4em;
  @include breakpoint($bp-med){
margin-top: 0;
  }
  .quote-image{
  }
  .quote-inner-circle{
    position: absolute;
    right: -24px;
    top: 55%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
  }
}


.quote-block{
  .flexbox &{
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
    justify-content: flex-end;
    @include breakpoint($bp-med){
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

    }
  }
}
