

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  overflow-y: scroll;
  transition: transform 350ms;

  @include breakpoint($bp-large) {
    display: none;
  }

  .admin-bar & {
    padding-top: 2.875em;
  }

  .show-nav & {
    transform: translateX( -100% );
    transform: translate3d( -100%, 0, 0 );

    @include breakpoint($bp-large) {
      transform: translateX( 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }
}


.navigation--mobile {
  padding: 0em 0;
}

.mobile-nav-header {
  padding: 1em 1em;
  text-align: right;
  display: flex;
  justify-content: space-between;

  a {
    display: inline-block;
    vertical-align: top;
  }
}

.mobile-nav {
  @include list-reset;

  + .mobile-nav {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #dedede;
  }

  ul {
    @include list-reset;
  }

  li {
    margin: 0;
    display: inherit;
    position: relative;
    + li {}
  }

  a {
    display: block;
    padding: .25em;
    color: $heading-color;
    font-family: $heading-font-family;
    font-size: 1.625em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: color 500ms;

    &:hover,
    &:focus {
      color: lighten($heading-color, 15%);
    }
  }

  .sub-menu {
    display: none;

    a {
      font-size: 1.125em;
    }
  }
}

.mobile-nav--main {

}

.mobile-nav--utility {
  a {
    font-size: 1em;
  }
}


.mobile-nav--search {
  margin-top: 2em;
  padding: 0 1em;

  .search-bar {
    .search-submit {
      border-color: $base-font-color;
      font-size: 1.1875em;
      background: $base-font-color;

      &:hover,
      &:focus {
        background: $base-font-color;
        border-color: $base-font-color;
      }
    }

    .search-field {
      border: 1px solid $base-font-color;
      border-radius: 3px;
      font-size: 1.1875em;

      &:focus {
        border-color: $base-font-color;
      }
    }
  }
}

ul.sub-menu li a{
  border: none;
  color: $pitt-white;
  &:hover{
    color: $pitt-tan;
  }
}

.mobile-nav a:hover{
  color: $pitt-tan;
}
.mobile-nav a:focus{
  color: $pitt-tan;
}


.mobile-nav-child-toggle {
  position: absolute;
  right: 30px;
  top: 23px;
  height: 37px;
  width: 40px;
  bottom: 0;
  background-image: url(../img/plus-sign.png);
  background-position: 9px;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 1em;
}

.is-active > span.mobile-nav-child-toggle {
  position: absolute;
  right: 30px;
  top: 23px;
  height: 37px;
  width: 40px;
  bottom: 0;
  background-image: url(../img/minus.png);
  background-position: 9px;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 1em;
}



.sub-menu{
  > .mobile-nav-child-toggle {
    position: absolute;
    right: 30px;
    top: 23px;
    height: 37px;
    width: 40px;
    bottom: 0;
    background-image: url(../img/plus-sign.png);
    background-position: 9px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 1em;
  }
  > .is-active span.mobile-nav-child-toggle {
    position: absolute;
    right: 30px;
    top: 23px;
    height: 37px;
    width: 40px;
    bottom: 0;
    background-image: url(../img/minus.png);
    background-position: 9px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 1em;
  }
}


    .sub-menu {
      .sub-menu{
        .mobile-nav-child-toggle {
          position: absolute;
          right: 30px;
          top: 23px;
          height: 37px;
          width: 40px;
          bottom: 0;
          background-image: url(../img/plus-sign.png) !important;
          background-position: 9px;
          background-repeat: no-repeat;
          cursor: pointer;
          padding: 1em;
        }
       .is-active span.mobile-nav-child-toggle {
          position: absolute;
          right: 30px;
          top: 23px;
          height: 37px;
          width: 40px;
          bottom: 0;
          background-position: 9px;
          background-repeat: no-repeat;
              background-image: url(../img/minus.png) !important;
          cursor: pointer;
          padding: 1em;
        }
      }

  }
