
.navigation--main{
  position: relative;
  width: 100%;
  z-index: 490;
  display: flex;
  justify-content: space-between;

  li {
    position: relative;
      display: flex;
    justify-content: space-between;
  }

  a {
    display: block;
    padding: .5em .15em;
    color: $link-color;
    font-size: 0.875em;
    font-family: $heading-font-family;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;

    // @include breakpoint($bp-xl){
    //   font-size: 1em;
    // }

    &:hover,
    &:focus {
      color: $link-color--hover;
      text-decoration: none;
    }
  }

  > ul {
    > li {
      + li {
        position: relative;
        margin-left: 1em;
        padding-left: 1em;

        &:before {
          position: absolute;
          left: -1px;
          top: 50%;
          transform: translateY(-50%);
          width: 2px;
          height: 50%;
          background-color: $pitt-blue;
          content: ' ';
        }
      }
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: .5em 0;
    min-width: 12.5em;
    text-align: left;
    z-index: 490;
    display: none;
    background: darken(#eee, 5%);
    transition: opacity 100ms linear;

    li {
      display: block;
      margin: 0;
    }

    a {
      padding: .5em 1em;
      font-size: 1em;
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        display: none;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
}


.navigation--main .current-menu-item>a,
.navigation--main .current-menu-ancestor>a{
  color: $pitt-tan;
  border-bottom: 1px solid $pitt-tan;
}
//
// .navigation--secondary{
//     > li{
//       &:nth-child(6){
//         border: 10px solid red;
//       }
//       .sub-menu{
//
//       }
//     }
//   }



input.search-submit{
  background-color:  #f0f0f0 !important;
}
  input[type=submit]:hover:hover, input[type=submit]:focus:hover {
      background-color: #f0f0f0 !important;
}
