
.navigation--secondary {
    position: relative;
    width: 100%;
    z-index: 490;
    display: flex;
    justify-content: space-between;

    > ul {
      > li {
        + li {
          margin-left: 0em;
        }
      }

      + ul {
        margin-left: 1em;
      }
    }

    li {
      position: relative;
        display: flex;
      justify-content: space-between;
    }

    a {
      display: block;
      padding: .5em .15em;
      color: $link-color;
      font-family: $heading-font-family;
      font-weight: 700;
      line-height: 1.2;
      text-decoration: none;


      &:hover,
      &:focus {
        color: $link-color--hover;
        text-decoration: none;
      }
    }

    .sub-menu {
      display: none;
      position: absolute;
      top: 3.9em;
      padding: 0;
      width: 235px;
      background: rgba(28, 41, 87, .90);
      .sub-menu-button{
        background-color: $pitt-tan;
        &:hover{
          background-color: $pitt-green;
        }
        a{
          color: $pitt-blue;
          &:hover{
            color: $pitt-blue;
          }
        }
      }
      li{
      border-bottom: 1px solid rgba(255,255,255, .27);
        a{
          padding: 1.5em 1em;
          color: $pitt-white;
          text-transform: capitalize;
          display: block;
          width: 100%;
          @include font-size(16);
          &:hover{
            color: $pitt-tan;
          }
        }
      }
      li + li{
        margin-left: 0;
      }
    }
    li {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: 0;
          display: block;
        }
      }

      &:last-child {

        &:hover,
        &.is-active {
          > .sub-menu {
            left: auto;
            right: 0;

            &::after {
              left: auto;
              right: 0;
            }
            .sub-menu {
              left: auto;
              right: 100%;
            }
          }
        }
      }
      a{
        color: $pitt-white;
      }
    }

    .sub-menu li {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: 100%;
          top: 0;
        }
      }
    }
}


.navigation--secondary > li.current-menu-item > a:after,
.navigation--secondary > .current-menu-ancestor > a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background-color: $pitt-tan;
}
ul.nav-list.nav-button {
    margin-left: 4.5em;
}
