.sidebar-nav {

  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;
  }

  a {
    display: block;
    border-bottom: 1px solid #fff;
    padding: 1em;
    color: $pitt-blue;
    text-decoration: none;
    background: #f7f7f7;
    transition: background-color 500ms, color 500ms;
    font-family: 'RockwellMT';
    border-top: 2px solid #E1E1E1;
    &:hover,
    &:focus {
      background: $pitt-blue;
      color: white;
    }
  }

  .children {
    display: none;
    margin-left: 1em;
  }

  .current_page_item {
    > a {
      background: $pitt-blue;
      color: $pitt-tan;
    }
  }

  .current_page_ancestor {

  }

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }
}

.current_page_item .children > a{
  border: 2px solid green;
}

.page_item_has_children > a{
  &:hover{
    &:after{
      content: ("");
      background-image: url('../svg/icons/sidebar-nav-arrow-down.svg');
      height: 12px;
      width: 20px;
      display: inline-block;
      margin-left: .7em;
      background-repeat: no-repeat;
    }
  }
  &:after{
    content: ("");
    background-image: url('../svg/icons/sidebar-nav-arrow-right.svg');
    height: 12px;
    width: 20px;
    display: inline-block;
    margin-left: .7em;
    background-repeat: no-repeat;
  }
}

li.page_item.page_item_has_children.current_page_item > a{
  &:after{
  content: ("");
  background-image: url('../svg/icons/sidebar-nav-arrow-down-gold.svg');
  height: 12px;
  width: 20px;
  display: inline-block;
  margin-left: .7em;
  background-repeat: no-repeat;
  }
}

.sidebar-nav li:first-child a{
  border-top: 1px solid white;
}
