
.widget {
  + .widget {
    margin-top: 2em;
  }
}


.widget-title {
  // @include font-size(25);
  // margin-bottom: .5em;

  // @include breakpoint($bp-med) {
  //   @include font-size(30);
  // }
}


.tags {
  
  ul {
    @include list-reset();
    border: 0;
    margin: 0;
  }

  li {
    @include nav-item-reset();

    + li {
      margin-top: .15em;
    }
  }

  a {
    color: #fff;
    background: $tertiary-color;
    transition: $transition-fast;

    &:hover {
      color: $primary-color;
      background: $secondary-color;
    }
  }
}
