//
//  Breakpoint
//  http://breakpoint-sass.com
//-------------------------------------------------------

@include breakpoint-set('to ems', true);
@include breakpoint-set('no query fallbacks', false);
@include breakpoint-set('default media', screen);


$bp-xsmall: 20em;   // 320px
$bp-small:  30em;   // 480px
$bp-med:    47.5em; // 760px
$bp-large:  68em;   // 960px
$bp-xl:     75em;   // 1200px
$bp-pitt-large: 68em; // 1090px
$bp-mega:   90em;   // 1440px
$bp-supa: 100em;
$bp-quote-line: 840px;
// Heights
$bp-height-med: min-height 700px; // 690px

// Med width & tall screen - Used for sticky header
$bp-med--tall: ($bp-height-med) ($bp-med);
