
/*--------------------------------------------------------------------------
  REM to PX for Fonts
  http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
  Usage: @include font-size(13);
--------------------------------------------------------------------------*/

// @mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5){
//  font-size: ($sizeValue * 1) + px;
//  //line-height: ($line * 1) + px;
//  font-size: ($sizeValue / 10) + rem;
//  //line-height: ($line / 10) + rem;
// }

@mixin font-size( $sizeValue: 1.6, $line: $sizeValue * 1.5 ) {
  font-size: ( $sizeValue / 16 ) + em;
}


/*--------------------------------------------------------------------------
  Width, Margin and Padding Mixins
  - These calculate % using the famous RWD formula, target/context*100
--------------------------------------------------------------------------*/

// column widths
@mixin grid($target, $context)    { width: (($target/$context)*100%); }

// margin widths
@mixin mleft($target, $context)   { margin-left: (($target/$context)*100%); }
@mixin mright($target, $context)  { margin-right: (($target/$context)*100%); }

// padding widths
@mixin pleft($target, $context)   { padding-left: (($target/$context)*100%); }
@mixin pright($target, $context)  { padding-right: (($target/$context)*100%); }



/**
 * Utils
 * ---
 */

// Clearfix (no old IE support cause why)
@mixin clearfix {
  &:after {
    display: block;
    clear: both;
    content: ' ';
  }
}


// Image Replacement
@mixin image-replace($width, $height) {
  width: $width;
  height: $height;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}


// Image Replacement (modern)
@mixin ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


// Vis Hidden
@mixin visuallyhidden {
  position: absolute;
  border: 0 none;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect( 0 0 0 0 );

  // Allow focus
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}



/**
 * Resets and Typography Utils
 * ---
 */

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin nav-item-reset() {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

@mixin link-reset() {
  text-decoration: none;
  cursor: pointer;
  transition: color 500ms;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin button-reset() {
  @include link-reset();
  display: inline-block;
  vertical-align: baseline;
  border: 0 none;
  text-align: center;
  cursor: pointer;
  transition: color 500ms, background 500ms;
}

@mixin button( $color ) {
  @include button-reset();
  padding: 1em 1.55em;
  color: #fff;
  font-size: .9375em;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  background: $pitt-blue;

  &:hover,
  &:focus {
    color: #fff;
    background: darken($color, 15%);
  }
}


/**
 * Blocks
 */

@mixin reverse-block-color() {
  color: #fff;

  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: inherit;
    }
  }

  .button {
    color: inherit;
    text-decoration: none;
  }
}

@mixin bg-pic{
  background-size: cover;
  background-repeat: none;
  background-position: center;
}
@mixin ghost{
  content: "";
  position: absolute;
}
@mixin v-center($top){
  position: absolute;
  left: 50%;
  top: $top;
  transform: translate(-50%, -50%);
}
@mixin my-flex {
  display: flex;
  align-items: center;
}
@mixin vert-lines {

}
@mixin no-repeat {
  background-repeat: no-repeat;
}
@mixin test {
 border: 1px solid red;
}






@mixin pitt-button-1() {
  @include button-reset();
  padding: 1em 1.55em;
  color: #fff;
  font-size: .9375em;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  background: $pitt-blue;
  &:hover,
  &:focus {
    background-color: #00add9;
    transition: background-color 0.5s cubic-bezier(0.58,0,0.24,0.99);
  }
}

// Mimic 'background-size: cover' on a
// block. Parent el needs position relative.
@mixin block-fit-cover( $min-width: 100em ) {
  display: block;
  position: absolute;
  left: -9999px;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
  min-width: $min-width;
  user-drag: none;
  user-select: none;
  z-index: 1;

  .object-fit & {
    object-fit: cover;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
  }
}
