//
//
//    MASTER VARIABLES!!!!1
//
//___________________________________________________


//
// Typography
//___________________________________________________

$base-font-family: 'Lato', sans-serif;
$heading-font-family: 'Raleway', sans-serif;



//
// Colors
//___________________________________________________


/**
 * Pitt CBA
 */

$pitt-white: #fff;
$pitt-blue: #1C2957;
$pitt-tan: #CDB87D;
$pitt-light-blue: #00ADD9;
$pitt-yellow: #FEC524;
$pitt-green: #94D60A;
$pitt-black: #414141;
$pitt-gray: #808080;
$pitt-light-gray: #F7F7F7;


$pitt-heading-light: $pitt-white;
$pitt-heading: $pitt-blue;
$pitt-copy-dark: $pitt-black;
$pitt-email: $pitt-light-blue;


$pitt-border-light: #C8C8C8;



/**
 * Defaults
 */

$primary-color: #fff;
$secondary-color: #333;
$tertiary-color: #555;
$quaternary-color: #666;
$primary-color-opaque: rgba(255,255,255,0.8);
$red-dark: #B20000;



/**
 * Brand Colors
 */

$brand-off-white: #f7f6f4;
$brand-black: #232323;
$brand-light-grey: #f8f7f5;
$brand-dark-grey: #4c4c4c;

$brand-blue: #00b6db;

$social-fb: #78C9FC;
$social-tw: #347dab;



/**
 * Typography Colors
 */

$base-font-color: $brand-black;

$heading-color: $brand-black;

$link-color: $brand-blue;
$link-color--hover: darken($link-color, 15%);

$bullet-color: $brand-blue;


// Button Colors

$button-color: $brand-black;
$button-color--hover: darken($button-color, 15%);


/**
 * Block Colors
 */

$bkg-white: #fff;
$bkg-black: #000;
$bkg-light-grey: $brand-light-grey;


$border-color: $brand-light-grey;







//
// Layout
//___________________________________________________

$max-width: 79em;
$max-width--small: 60.25em;

$max-width-spacing: 0 1em;
$max-width-spacing--large: 0 2em;

$padding: 3em;
$padding-medium: 3em;
$padding-large: 4em;

$vertical-padding: 3em 0;
$vertical-padding-medium: 3em 0;
$vertical-padding-large: 4em 0;

$horizontal-padding: 0 3em;
$horizontal-padding-medium: 0 3em;
$horizontal-padding-large: 0 4em;



//
// Design/Animation
//___________________________________________________


// default border radius
$border-radius: 3px;


// transitions
$transition: all 1s;
$transition-fast: all .5s;
$transition-faster: all .25s;
$transition-slow: all 2s;
$transition-slower: all 2.5s;
